<p class="flow-text">
  Every story has a beginning. This one is no different. My story begins in my early childhood, when I got my first Nintendo 
  Entertainment System (NES) console. To be completely frank, though it was not the original NES overhyped in those shoddy TV 
  commercials (an image of a perfect American family, mom and dad, two kids, both ecstatically gaming on a NES disconnected 
  from the TV set). It was a <em>genuine</em> (pun intended) Famiclone resembling the Batmobile.
</p>

<figure>
  <img class="responsive-img" src="https://i.ytimg.com/vi/Lz2nRVTUPas/maxresdefault.jpg">
  <figcaption>
      <em>Not as fast as a real batmobile, but at least runs Super Mario Bros...
      (<a target="--blank" href="https://www.youtube.com/watch?v=Lz2nRVTUPas">courtesy of the Interwebs</a>)</em>
  </figcaption>
</figure>

<p class="flow-text">
  I opened it up a few years later and noticed how shabby the wiring had been. Surprising it even worked! Nevertheless, I was 
  excited to had gotten it for my birthday as a toddler. It came with 2 pads, a knock-off NES zapper and one of those infamous 
  <em>128-in-1</em> cartridges (10-20 unique games, repeated as hacked varieties). Today that doesn't sound like much, but back 
  then it was paradise. My favourites were <em>Yi Er Kung Fu</em> and <em>Duck Hunt</em>. I didn't like <em>Super Mario Bros</em>
  as much, because I sucked at it. I know, embarrassing... Anyway, I spent entire days gaming on my Famiclone and in time 
  acrued several cool gaming titles, like <em>Darkwing Duck</em>, <em>Duck Tales 1 & 2</em>, <em>Ghost Busters 2</em>, and
  <em>Tom and Jerry</em>. Then, things changed a bit and my adventures with personal computers (PCs) finally began...
</p>

<p class="flow-text">
  My father is a retired electronics engineer and a hobbyist tinkerer. Incidentally, he is extremely deft at assembling PCs. The 
  first computer I ever owned was built from scratch by him. Thinking about it today makes me incredibly proud of him, but also
  quite jealous! He had the opportunity to grow up along the very first personal computers and gaming consoles, like Atari 2600 
  or Commodore 64 (not to mention the Silicon Graphics SGI workstations and SPARC servers from Sun Microsystems...). My first 
  computer was a Pentium I P5 (P54C of the 80502 architecture, to be exact). It was clocked at 100 MHz and had 32 MB RAM on the 
  motherboard, as far as I remember. I write <em>was</em>, but I think my parents still keep it somewhere in the basement. The PC
  sported the amazing for its time Matrox 3D graphics card and the Sound Blaster Pro sound card. On this <em>beast</em> of a 
  machine I played titles such as <em>Electro Body</em>, <em>The Incredible Machine</em>, <em>Commander Keen</em>, <em>Cosmo's 
  Cosmic Adventures</em> and other great games from the DOS era. Apogee used to make fantastic platformers for the DOS and I 
  remember many of them very fondly. Good old Windows 3.11 also sported some relaxing office games.
</p>

<p class="flow-text">
  Alas, no hardware lasts forever, especially when it's maintained by a curious and adventurous teenager. It so happened that I 
  accidentally overclocked my graphics card and literally burnt it to a crisp. This is no joke. Nowadays, graphics drivers have 
  a lot of safety mechanisms baked in. Any attempts at changing the suggested clock speed are met with a huge red warning button 
  with a label that says <em>at your own risk</em>. Back then configuring sound and graphics was a bit of an ordeal and one could 
  easily mess things up. Zero hand-holding whatsoever. Since the graphics card had to be replaced anyway, we upgraded the machine 
  with extra RAM and installed Windows 98 on it. It is arguably the second best operating system from Microsoft - a joy to work 
  with and a joy to game on. Absolutely seminal in user-friendly OS design. I received my next computer much much later, when in 
  high school. It was a real powerhouse, though. The pinnacle of its generation, in fact. Pentium IV (with hyper-threading), 2 GB 
  RAM and a GeForce 2 MX graphics card (later upgraded to GeForce 7100). The operating system was Windows XP. Windows 98 was 
  great, but it had its limitations. Windows XP was <em>the shit</em>. The best GUI-centric operating system ever. It was so good 
  that many companies still have support contracts with Microsoft (extended-post-end-of-life-something-something). The later 
  Windows 7 came close, but was not able to repeat that success. For unexplainable reasons since then Microsoft was not able to 
  produce anything equally usable. I really don't want to be harsh, but everything after Windows 7 was a complete disaster from 
  a UX and feature set standpoint. Anyway, my Pentium IV PC still stands at my parents' place, in my former bedroom.
</p>

<figure>
  <img class="responsive-img" src="http://st.depositphotos.com/1695366/1398/v/950/depositphotos_13983676-stock-illustration-cartoon-square-wheel.jpg">
  <figcaption><em>Feeling like a caveman, struggling to roll that square stone wheel?
      Try Windows Vista!
      (<a target="--blank" href="http://st.depositphotos.com/1695366/1398/v/950/depositphotos_13983676-stock-illustration-cartoon-square-wheel.jpg">courtesy of the Interwebs</a>)</em>
  </figcaption>
</figure>
