<p class="flow-text">
  As I mentioned in my last entry, I decided to embark on a journey to the mythical <em>lands of Linux</em>, because I needed 
  something in my computing life to change. I was overly annoyed with the bloat-ish nature of Windows 7 and was quite unwilling 
  to try either Windows 8/8.1 or Windows 10 in the future. Mac OS X was out of the question for obvious reasons – the price. 
  Linux seemed like a good, inexpensive alternative. It also potentially offered what I was looking for – lightness and 
  flexibility.
</p>

<p class="flow-text">
  When I was browsing the Internet I encountered an immediate roadblock in my path to convertion. Linux is not a single 
  operating system. Now, laugh all you want, but when it comes to technology and <em>geeky activities</em> I really struggle to 
  make a decision...
</p>

<div class="collection">
  <li class="collection-item">Programming in Python or Perl? Or maybe another <em>language-of-the-month?</em></li>
  <li class="collection-item">Role-playing as a healing priest or as a damage-dealing warlock?</li>
  <li class="collection-item">My magical staff should give off a blue or perhaps a green aura?</li>
</div>

<p class="flow-text">
  The list goes on and on. In MMORPGs I typically spend more time in the character creation screen than in the tutorial area. And 
  suddenly I’m forced to choose among hundreds of Linux <em>flavors</em> (distributions). Completely confounded I decided (ha!) 
  to limit my choices to so-called <em>lightweight</em> distributions. Although not a category per se, many development teams 
  strive to offer fully functional Linux variants for people using both old and new hardware. After a few hours of searching and 
  reading I drafted a list of potentially worthwhile lightweight Linux distributions:
</p> 

<div class="collection">
  <li class="collection-item">
    <span class="title">Crunchbang (Waldorf 11)</span>
    <p>
      A relatively simple distribution based on Debian (the predecessor of the popular Ubuntu). It doesn’t really use a desktop 
      environment, unlike Windows or a lot of other Linux distributions. Instead, it embraces the incredible flexibility of the 
      Openbox window manager. The desktop can be freely adjusted to one's needs. As Crunchbang is based on Debian, it is very 
      stable. Unfortunately, it also requires basic knowledge of Linux commands, which I did not have. Probably not the best 
      choice for a greenhorn like me.
    </p>
  </li>
  <li class="collection-item">
    <span class="title">Lubuntu (14.04 LTS or 14.10)</span>
    <p>
      A variant of Ubuntu designed for older computers. The LXDE (Lightweight X11 Desktop Environment) desktop environment 
      looked simple, yet quite attractive. It had a feel very similar to Windows. However, Windows was something I wanted to 
      avoid at all costs at that point. Nevertheless, as it is a branch of Ubuntu, it is bound to have great community and 
      development team support, including regular updates. Thus, I decided to leave it for later.
    </p>
  </li>
  <li class="collection-item">
    <span class="title">Peppermint Five (14.04 LTS)</span>
    <p>
      A Linux distribution based on Lubuntu. Just like Lubuntu it utilizes LXDE, however with added eyecandy. Peppermint is 
      often advertised as an internet-centric distribution, meaning that most applications are related to Internet activities 
      or rely on browser-based components (like Adobe Flash Player). Although, the developers claimed that one can use 
      Peppermint locally as well. Later perhaps?
    </p>
   </li>
  <li class="collection-item">
    <span class="title">Bodhi Linux (2.4.0 or 3.0.0 Release Candidate 1</span>
    <p>
      Based on the current Ubuntu LTS (2.4.0 relies on Ubuntu 12.04 LTS, while 3.0.0 on Ubuntu 14.04 LTS), Bodhi strives for 
      lightness. It was clearly designed as THE lightweight distribution. It also had that underdog feel to it – like a rebel 
      among other <em>proper</em> Linux distributions. Interestingly, unlike Crunchbang, Bodhi didn’t sacrifice visuals for 
      lightness. Bodhi Linux uses the unique Enlightenment (E) desktop environment. E17 shipped with Bodhi Linux 2.4.0 offers 
      a number of themes to choose from initially, while additional ones can be found online.
    </p>
  </li>
</div>

 <p class="flow-text">
  The moment I saw the beautiful Enlightenment desktop and read Bodhi’s Path to Enlightenment guide I knew what my decision 
  would be...
 </p>
