<figure>
  <img class="responsive-img" src="https://tastycraze.com/files/lib/600x350/krem17.jpg">
  <figcaption><em>I might know little about Linux still, but Google claims THIS is real sabayon!</em></figcaption>
</figure>

<p class="flow-text">
  This was a somewhat unexpected decision from me. I have never before seriously looked at Gentoo as I was focused on all of the 
  different Debian variants and Debian-based Linux distributions. However, I read that Gentoo is truly powerful and in essence 
  can be anything the user wants it to be – ranging from a monstrous powerhouse to a small, nimble operating system. There was 
  of course a catch to that outstanding potency – Gentoo has to be built from scratch. Seeing how all of the popular 
  distributions (Arch Linux, Debian, BSD, etc.) have customized, easy-to-use derivatives, I decided to do some digging and find 
  one for Gentoo as well...
</p>

<p class="flow-text">
  <a href="https://distrowatch.com">DistroWatch</a> again proved to be a valuable source of information. The most reasonable 
  Gentoo derivative turned out to be Sabayon Linux (though not quite like the one in the photo above). Without further ado I 
  launched a live CD environment and began the installation. Some things I noticed after trying several ISO images – Sabayon 
  Linux is not exactly Gentoo. It might seem like a good means of trying out Gentoo and getting to know the distribution, but to 
  be completely honest, it is not. Firstly, the GUI installer failed to work properly regardless of the live CD I tested. I then 
  read about Gentoo itself and used the text-mode installer Anaconda. This one somehow worked and I could boot into the newly 
  installed system.
</p>

<p class="flow-text">
  Then, the second problem occurred. I could not install anything through <code>portage</code> (Gentoo’s package manager), 
  because all of the packages were initially masked and I didn’t know how to unmask them properly. After some reading and 
  tinkering I managed to compile some packages in an unmasked state, but in the end <code>portage</code> showed errors and this 
  led me nowhere. Back then I felt that Sabayon Linux is a very so-so initiative. It is meant to make Gentoo accessible to new 
  Linux users, but at the same time forsakes the intrinsic complexity of Gentoo. Even pure Gentoo users have problems with 
  Sabayon users, as people running Sabayon Linux sometimes ask for Sabayon-specific advice on Gentoo forums. Then they are often 
  met with a cold response that <em>Sabayon is not Gentoo</em>. Which of course is true. 
</p>

<p class="flow-text">
  Frankly, Gentoo is not for everyone. I tried installing it myself following the official guide (very thorough, by the by), but 
  only managed to get the core system running. Installing the graphical interface (the X Window System) was a too much of an 
  ordeal. Hence, I recommend playing around with Gentoo only to advanced Linux users. It’s definitely not for the faint of heart...
</p>

<p class="flow-text">
  Overall, the <em>date</em> was a somewhat depressing one. Gentoo told me I’m clearly not ready for that sort of commitment. 
  Thereby, I decided to hone my Linux skills before I approach Gentoo once more eventually...
</p>
