<p class="flow-text">
  Recently, as part of my adventure with Arch Linux (more about that in the future!) I have tested a number of desktop 
  environments to select one (or more) that would suit my needs. Having gained significant experience throughout the past two or 
  so months, I find it amusing how my tastes gradually changed. Initially, I favored simple, easy-to-use desktop environments 
  with desktop icons, a proper taskbar, a system tray and other useful features known to Windows users. Hence, I enjoyed 
  Lubuntu’s LXDE and Bodhi Linux’s E17. Lately though, I went for a quite minimalist approach to free up resources for more 
  meaningful tasks. In my pursuit I have tested most of the lightest desktop environments (or rather window managers, to be 
  exact), such as Fluxbox, Window Maker, Openbox, Joe’s Window Manager and Ice Window Manager. While various window managers
  / desktop environments differ in RAM usage (nicely summed up <a href="http://l3net.wordpress.com">here</a>), I believe the 
  choice should not be based on resource usage entirely. One should consider how much graphical user interface (GUI) support does 
  one need. 
</p>

<p class="flow-text">
  The truth is that all desktop environments can be fine-tuned by altering the necessary configuration files (usually .conf or 
  .rc files), as it was done before people started using GUIs to simplify repetitive tasks. Skilled Linux users often prefer such 
  level of control, because it is much easier to troubleshoot if something goes wrong. GUIs, however, were created for a reason 
  and I believe following that reason is not only sound, but also much more efficient in many cases (for instance, changing the 
  desktop background / wallpaper). The definite advantage of text-based configuration is a smaller resource footprint - enough to 
  run the code / text editor of choice. I see the <em>GUI-based vs text-based</em> debate as a form of barter. The user’s time 
  and experience can be freely exchanged for the computer’s time and computing power (CPU cycles, RAM, etc.). In such an equation 
  one should consider which factor(s) is / are the most limiting and decide based on that. There is no right or wrong here. With 
  sufficient knowledge text-based configuration in most cases can achieve the same results as GUI-based configuration.
</p>

<p class="flow-text">
  I myself lean more towards transparent and clear text-based configuration. That way I can swiftly track and resolve issues, 
  with the added reward of gaining experience. I rely on GUIs when I deem them useful and not overly complex. The 
  <code>tint2conf</code> GUI package for configuration of the tint2 panel is a good example. It provides easy access to basic 
  parameters in the configuration file, without unnecessary visual effects. Surprisingly, when it comes to extremely light window 
  managers, RAM usage can be completely neglected. Reducing it below a certain threshold (in my case 100-150 MB RAM) would 
  require the sacrifice of useful features. I have favored IceWM among all others as it is very light, yet still allows the use 
  of themes, system tray icons, quick start icons and offers a wallpaper picker. As far as I know, it was designed to closely 
  resemble the user interface in Windows 95, suggesting that certain desktop elements found in Windows are attractive to Unix 
  users as well.
</p>
