<figure>
  <img class="responsive-img" src="http://cdn.attackofthecute.com/December-08-2012-23-26-58-tu.jpg">
</figure>

<p class="flow-text">
  Recently I stopped <em>distro-hopping</em> (jumping between Linux distributions), because I found one that I like a lot – Arch 
  Linux. There is a lot of good things that can be said about Arch Linux, though I would like to save it for a proper occasion. 
  Meanwhile, I will talk a bit about a new / old discovery I made lately – Makulu Linux. To be perfectly fair, I have not used 
  Makulu Linux before. I merely looked at it from afar since version 6.0. It piqued my interest as a Debian Testing derivative 
  with a pleasant take on the XFCE desktop environment. I am not a big fan of XFCE, but I did use it apart from E17 when 
  beginning my <em>new life</em> with Linux. It was comfortable and triggered severe Win98 nostalgia in me. Definitely something 
  to consider for other <em>Windows refugees</em>.
</p>

<p class="flow-text">
  The author of Makulu Linux (yes, 1 person!) made certain key changes in the new installment (version 7.0), for instance 
  switching the kernel from a Debian-based to an Ubuntu-based one. I considered this an interesting choice as it could 
  potentially yield a Debian-Ubuntu hybrid – the best of both worlds. My very first impression after booting into the live 
  environment was <em>Damn! Makulu Linux sure is gorgeous!</em> The tasteful icon design, the fantastic set of wallpapers 
  - everything! Since it was rather late into the night, I thought I’m using a gaming GUI, instead of yet another Linux 
  distribution. The visual appeal was so great that I instantly suggested Jacque Raymer (the author of Makulu Linux) the 
  following:
</p>

<div class="collection">
  <li class="collection-item">
    Preparing an XFCE theme package of Makulu Linux
  </li>
  <li class="collection-item">
    Creating a similar theme for the MATE desktop environment (my current favorite)
  </li>
</div>

<p class="flow-text">
  In all honesty, Makulu Linux sports the most attractive XFCE look there is!
</p>

<p class="flow-text">
  The thing I usually do when trying out a distribution is checking the size of the repositories and their content. I admit it is 
  completely perverse, though I really (highest necessity, you see!) need to know whether I can safely use my dedicated NVidia 
  graphics card or should I completely forget about it. Luckily, the NVidia drivers were present in the repositories and I would 
  have gladly proceeded with their installation, had this not been done already! Quite surprisingly, the drivers had already been
  installed during the setup procedure. They were not the only thing I received as <em>tribute</em>. Makulu Linux came 
  pre-installed with a fine selection of software I would have to install myself later on anyway.
</p>

<p class="flow-text">
  Unfortunately, I had some problems configuring the NVidia driver. Since I noticed that the complete set of drivers is installed 
  (including the PRIME package for dedicated laptop graphics), I assumed that I can simply run the <code>nvidia-xconfig</code> 
  command from the terminal and be happily done. Alas, nay! <code>nvidia-xconfig</code> was not available to my complete 
  astonishment. Re-installation (removal, purging, etc.) of all of the driver packages did not help. This was new to me as I had 
  far more problems with crashes of the X Window Server on startup rather than key commands not being recognized. In the end I 
  ignored the problem and did everything the traditional way – Bumblebee. This worked flawlessly as in any other Debian-based 
  distribution. This might be an interesting case, though. Bumblebee is known to cause problems under Ubuntu, from which Makulu 
  Linux 7.0 now possibly stems. 
</p>

<p class="flow-text">
  From there everything else worked flawlessly. After a bumpy ride on the reefs, my Linux boat could finally set sail onto the 
  magnificent Makulu sea of infinite possibilities. There were some minor setbacks, but nothing major I would be unable to 
  resolve myself. From a completely different perspective, I believe the greatest selling point of Makulu Linux is very 
  noticeable human effort. Jacque Raymer has shown to the Linux community that a single person, when striving for utmost 
  perfection, can achieve much and often more than a team of developers. <b>Two words – well done!</b>
</p>
