<figure>
  <img class="responsive-img" src="/static/img/forks.jpeg">
</figure>

<p class="flow-text">
  Some time ago I wrote about how OpenMandriva Lx and Mageia (both inspired by Mandriva Linux) have overlapping interests and how 
  this causes the developers to unnecessarily duplicate their efforts. The phenomenon is called <em>forking</em> and usually 
  occurs when certain communities don’t get along in terms of philosophy or priorities. Forking is also a sign of freedom (in a 
  sense), intrinsic to the open-source community. However, as Keith Curtis (the author of <em>After the Software Wars</em>) wrote 
  on his blog, celebrating forking as a solely positive phenomenon could be compared to saying <em>Divorce law is good for the 
    society</em>. Recently, I more and more agree with that metaphor. Freedom should be sought after only to a certain degree. 
    Overexercised freedom can bring demise to the community in the form of too finely dispersed effort.
</p>

<p class="flow-text">
  Keith gives the example of Manjaro Linux - a very good one, in my opinion. Manjaro strives to create a user-friendly experience 
  of Arch Linux for the less computer-savvy. Unlike Keith, I used Manjaro for quite some time and was very pleased with it. What 
  Curtis has rightfully pointed out, though, was that Arch Linux does not directly profit from the additional effort put into 
  developing Manjaro, because of separate package repositories and project separation. A contrary example is Archbang. It builds 
  upon Arch Linux (using its repositories), in addition supplying a number of components for better out-of-the-box experience 
  (Opera as the Web browser, Leafpad as the text editor, a relatively simple console-based installer, preconfigured X Window 
  System, etc.). Thereby, we have two Arch Linux forks (though Archbang is more of a spin/respin) – one that strives to make 
  Arch more appealing by simplifying the setup process (Archbang) and one that attempts to be a better version of Arch (Manjaro).
</p>
  
<p class="flow-text">
  Debian is probably the most widely used Linux distribution, signified by the enormous number of distributions based on it. 
  Unfortunately, many of them try to <em>re-invent the wheel</em>, out of the sheer possibility to do so. I mean, honestly, does 
  every major country in the world need their own Debian-based distro? Would it not be easier to provide repository mirror 
  servers and language support instead, in addition to GUIs and initial setup for better out-of-the-box experience? To be fair 
  though, there is a number of distributions with a well defined goal that add, rather than subtract from existing communities. 
  Sabayon tries to make Gentoo attractive, despite the extremely steep learning curve of its base distro. Tanglu brings forth a 
  convenient aspect of Debian Testing by giving Debian developers the freedom to continue releasing packages into Debian Testing 
  repositories, while Debian Testing proper is frozen prior to a new Debian Stable release.
</p>

<p class="flow-text">
  All in all, freedom and the ability to fork projects are extremely valuable to the open-source community. However, what I'd 
  rather see is more collaboration on existing projects to improve their polish.
</p>
