<figure>
  <img class="responsive-img" src="static/img/love-is-in-the-arch.png">
  <figcaption><em>My highly artistic doodles - powered by <a target="--blank" href="https://inkscape.org/">Inkscape</a>.</em></figcaption>
</figure>

<p class="flow-text">
  I really wanted to draft this entry for quite some time now. However, I continued postponing it to let my thoughts and emotions o
  mature and so that my final view is as fair as possible. After all, the distribution I will discuss is a bit of an underdog 
  (though <a target="--blank" href="https://pics.onsizzle.com/installing-arch-and-telling-nobody-installing-arch-and-puting-btw-36154369.png">
    a ton of hipster memes has surfaced already</a>) and truly deserves praise. Who knows, maybe others will share my positive 
    feelings.
</p>

<p class="flow-text">
  First of all, Arch Linux is <em>different</em>. It is not your run-of-the-mill Linux distro which courts the user with stunning 
  graphics or with an emphasis on user-friendliness. The philosophy behind Arch Linux consists of two core components – simplicity 
  and transparency. They make up the foundation of the <em>Arch way</em>. The simplicity of Arch Linux is understood differently 
  than how most people might expect it. In this context <em>simple</em> means <em>uncomplicated</em> and not <em>easy to use</em>.
  This means that the initial setup is extremely minimalistic, but effective. In fact, the X Window Server needs to be installed 
  and configured manually (to some extent). Arch Linux offers a very lean operating system foundation on which one can build 
  further to his or her liking. <em>Transparency</em> means <em>clarity</em>. The whole system is governed in an impressively 
  clear way. Configuration files provide necessary input and output. Even the package manager, <code>pacman</code>, uses a very 
  modest syntax (you won’t see long command chains like in Debian or Ubuntu), still being equally powerful as <code>apt</code> or 
  <code>portage</code>. It stands to reason, the simpler the configuration and design, the less room for bugs.
</p>

<p class="flow-text">
  Speaking of package management in Arch Linux, it is slightly unusual. We have the mentioned <code>pacman</code> with its binary 
  repositories, but also <code>yaourt</code> with its access to the source-based AUR (Arch User Repositories). In essence, Arch 
  Linux combines quick and painless installation of regular binary packages with optimized compilation similar to that of Gentoo 
  (though definitely not as extensive). Each user can contribute to the AUR with new packages or new editions of old ones. Others 
  may then use those packages, comment on their performance and vote for favorites so that these are later added to the official 
  <code>pacman</code> community repositories.
</p>

<p class="flow-text">
  The development model of Arch Linux deserves explicit attention as well. Arch Linux is a rolling-release distribution, meaning 
  that a single installation suffices for years and live environments are merely snapshots of the OS and <code>pacman</code> 
  repositories. This is not a very popular choice due to the potential instability of the system and the need to keep it 
  constantly up-to-date. However, that doesn’t mean Arch Linux ships alpha or beta quality software! Quite the opposite. Packages 
  are thoroughly tested by a sizable community of experiences programmers before release. This reduces potential risks to a 
  minimum. Personally, I never had any problems with the system, unless I accidentally caused them myself. Granted, sometimes 
  manual adjustments were required, but these are always documented in the release notes on the main website.
</p>

<p class="flow-text">
  To sum up, I really enjoyed Arch Linux. To me it is a perfect combination of simplicity, freshness, programming prowess and the 
  finest features from other major distributions like Gentoo or Debian. It can be rather demanding, but the experience gained 
  can become indispensible very quickly when struggling with other Linux systems. Admittedly, it's difficult to judge Arch Linux, 
  because by itself it's extremely simple. However, it's impressive how quickly it can turn into a fully-fledged OS.
</p>
