<figure>
  <img class="responsive-img" src="static/img/castle-fog.jpeg">
</figure>

<p class="flow-text">
  I would like to begin my reflections with a somewhat embarrassing statement: <b>I still use Windows</b>. Not as my main 
  operating system, of course. I would never do this to my open-source-loving soul! Unfortunately, I am forced to use Windows at 
  work, because such was the requirement when I joined.
</p>

<p class="flow-text">
  I am already aware that Windows is full of potentially needless features. Presumably, many of them can be safely disabled to 
  free up memory for the rest of the ever-hungry OS. What I noticed quite recently, though, was that Windows is also literally 
  shrouded with graphical user interfaces (GUIs), like a fortress of sorts.
</p>

<p class="flow-text">
  On one hand, this allows inexperienced users to change the way their computer works, looks and responds. It is well appreciated, 
  as it gives a sense of flexibility and choice. Using GUIs is typically faster, though sometimes going through several menus may 
  seem daunting.
</p>

<p class="flow-text">
  On the other hand, it restricts the user and at some point completely removes the need to understand the operating system. 
  After all, why should it matter what is <em>under the hood</em>. The problem I see with current Windows as compared to the 
  <em>old</em> Windows (up to XP) is exactly the overabundance of graphical user interfaces. With each subsequent OS version, 
  less and less is required from the user. I agree, this facilitates the use of a computer. After all, it's just a tool. However, 
  too much is not a good thing either. When you look at Windows 8, is it really easier to navigate? I have my doubts. I feel that 
  Windows 8 is exactly the tipping point past which the UI becomes confusing and cumbersome. It no longer shields the user from 
  understanding the OS. Rather, it misleads him or her.
</p>

<p class="flow-text">
  To add a bit of a historical perspective, computers used to required significant tech savvy. When I was little, all I had after 
  booting up my machine was a terminal. To run software or play games I had to navigate to the correct directory by hand, typing 
  every single command. The first UI I ever used was Windows 3.11, practically an add-on to the DOS. Later versions of Windows 
  changed this (starting with Windows 95, as far as I remember?) by making the OS independent. It made personal computers truly 
  <em>personal</em> and accessible to the average John and Jane. Unfortunately, the concept of the average user somewhat drifted 
  away since then, in my opinion. I feel that Windows XP was the pinnacle of Windows. Subsequent installments did not add much to 
  Windows, they rather subtracted from it. Windows became less accessible, overly complicated and not exactly what many of us 
  expected. Now, in Windows 10 Microsoft is trying to <em>right the wrongs</em> of Windows 8. By borrowing a ton of features from 
  Linux (multiple desktops, stable release model, etc.) and marketing them as new and unique.
</p>

<p class="flow-text">
  To me this is extremely ironic. It means that Windows as an operating system no longer stands at the forefront of UI design 
  and UX. The Linux-based Android pretty much dominated the mobile device market, Linux dominated servers and now the 
  user-friendly distributions are slowly gaining popularity in the desktop segment of the computer market.
</p>
