<figure>
  <img class="responsive-img" src="static/img/tux_samurai.jpeg">
  <figcaption><em>Not mine, but I think it's "sugoi" as the Japanese like to say ;)</em></figcaption>
</figure>

<p class="flow-text">
  For some people Linux is merely an operating system. A free alternative to Windows and Mac OS X. For me and many others Linux 
  represents a path – <em>Linux-do</em>. <em>The way of Linux</em>. My main goal when using one of the many Linux distributions 
  was always the same - understanding operating system internals. From the kernel and driver modules to the init system. Building 
  custom packages and binaries. Configuring the X Window System and desktop environments. And so on and so forth. Essentially, 
  becoming one with the operating system. As you can probably imagine, Linux offers <b>a lot</b>.
</p>

<p class="flow-text">
  Beginners usually start with the more user-friendly distributions, like Ubuntu, OpenSUSE or Fedora. Most people are content 
  with that level of Linux expertise and stay with their <em>distro</em> of choice. Some want to know Linux and other Unix-like 
  operating systems better. They engage in the nomadic practice of <em>distro-hopping</em>. After Ubuntu comes Debian - the 
  foundation of Ubuntu. While Debian ultimately offers a similar degree of user-friendliness as Ubuntu, it is way harder to 
  install. Still, the progression is fairly smooth. Moreso, I believe Debian is so incredibly potent and flexible that it is very 
  much worth the extra effort. Especially, because it allows for quite minimalistic setups.
</p> 

<p class="flow-text">
  The almost final destination in <em>Linux-do</em> is one of the hardcore distributions – Gentoo, Slackware, CRUX or Arch Linux. 
  Most of them require a great deal of user intervention during the initial setup and later when installing third-party packages. 
  Gentoo and CRUX even rely on building packages from source. Definitely not for the faint of heart! I believe Gentoo deserves an 
  extra mention at this point due to its immense educational value. As the proverb goes, <em>once you've mastered Gentoo, you 
    have mastered Linux</em>.
</p>

<p class="flow-text">
  If Gentoo, Arch Linux and the like are the <em>almost final destination</em>, what is the conclusion of the journey? Which 
  distribution deserves the title of <b>The Ultimate Linux</b>? I personally don't think there is a single answer to this 
  question. Some say that the ultimate Linux is Slackware, LFS (Linux From Scratch) or something as arcane as Source Mage. Others 
  claim that after distro-hopping and reaching the point of <em>I've seen it all</em>, Linux users return to that one 
  distribution which struck a chord with them. Myself? I'm probably of the latter type.
</p>
