<p class="flow-text">
  To begin with, I have been a vivid Arch Linux user for quite some time. I greatly enjoyed the flexibility this specific 
  distribution offers, even when using derivatives, such as ArchBang. Pacman also happens to be my favorite package manager by 
  far. Not to mention that Arch Linux, despite being a supposedly <em>bleeding-edge</em> Linux distribution, never failed me. 
  However, as in every long-term relationship, small things kept piling up and one of them finally became the last straw. In my 
  case it was the constant need for manual configuration and issues with less popular AUR packages. For example, I really wanted 
  to use Window Maker as my desktop environment, even though it's merely a window manager. Unfortunately, many of the Dock-App 
  packages in the AUR were outdated or simply broken, because the original maintainers dropped them. Another case concerned the 
  Adobe Flash plugin for Chromium. It relied on a .rpm package from Google’s repositories which at one point in time simply got 
  removed. Some time passed before the AUR package maintainer noticed the problem and provided a working link in his/her PKGBUILD.
  Not a big deal in the long run, though as I wrote before, this would happen over and over.
</p>

<p class="flow-text">
  I have no grudge against Arch Linux. Quite the contrary – I love it! For a distribution that small, it is more than incredible 
  how popular and versatile it became. In addition, it taught me a great deal about Linux and its kernel. However, I decided to 
  resume my journey through <em>Linux Land</em> and move on. <em>Where to?</em>, one might ask. Debian, perhaps? Maybe Gentoo? I 
  think I still have a LOT to learn!
</p>
