<figure>
  <img class="responsive-img" src="/static/img/penguin_variety.jpeg">
</figure>

<p class="flow-text">
  Some time ago I wrote about excessive forking - how it dilutes human effort and leads to duplication of results. Sadly, in that 
  entry I considered only the downsides of forking, neglecting the positives almost completely. This was brought to my attention 
  by a recent article on <a href="https://distrowatch.com/">DistroWatch</a>, as part of the Distro Watch Weekly series.

  One of the core values in the Linux and the broader open-source community is freedom. Software developers, designers, engineers 
  and the like are not limited by restrictive corporate agreements and licenses. Obviously, too much freedom may lead to a waste 
  of resources, but it also facilitates <b>evolution</b>.
</p>

<p class="flow-text">
  Evolution is a concept related to natural sciences. Per each generation of a species, minor changes to the genetic composition 
  grant a possible fitness gain which lets individuals with favorable traits produce more progeny. This effect stacks in a way 
  that every subsequent generation is better adapted to its living conditions than the previous. <b>How do we apply this to 
    software, though?</b>
</p>

<p class="flow-text">
  It turns out that evolution in open-source communities takes a peculiar, yet a far more robust shape. On one hand, we have 
  <b>diversification</b> - everyone can create whatever project they want so that we have <code>N</code> people and <code>N</code> 
  projects. Theoretically, the <em>fittest</em> project wins. However, it doesn't mean that <code>N-1</code> projects suddenly 
  disappear! Projects can overlap, exchange code, share core concepts, etc. so that the <em>fittest</em> project ends up being a 
  combination of the best features of most / all existing projects. This is more akin to producing chimeras, rather than 
  evolution, I guess. 
</p>

<p class="flow-text">
  Regardless of the shape and form, let us enjoy the diversity of the Linux-verse and allow things to sort themselves out 
  naturally!
</p>
