<p class="flow-text">
  Howdy y'all! Long time no write!
</p>

<p class="flow-text">
  First, I'd like to apologize to all of my readers and viewers, past and present for my long absence. I was simply flooded with 
  work and had hardly any spare time for sleep even. Now, this has changed a little and I finally have time to write again!
</p>

<p class="flow-text">
  For the past 2 months I have been tinkering with old computers – mostly Pentium IV and Core Duo. Everything was surprisingly 
  new to me, especially Core Duos. Then it hit me. As I probably mentioned in my very first entry, one of my first computers was 
  a Pentium I. Years later my parents bought me a Pentium IV desktop PC, which was my sole computer until 2011, when I finally 
  bought myself a gen2 core i5 Samsung laptop. While I had read a lot about Pentium II and III in computer magazines back in 
  <em>the good ol' days</em>, I entirely missed all of the processor series between PIV and core i. I heard some of my colleagues 
  had a Core Duo or Core 2 Duo. Two physical cores – incredible! No more hyper-threaded virtual cores! Still, I was quite happy 
  with my Pentium IV PC. It was simply that good. Sadly, it could barely run titles like <em>The Elder Scrolls: Oblivion</em> 
  and more demanding games. Thanks to the old Core (2) Duo hardware I acquired, I finally have the chance to get back those 
  <em>lost</em> years of technological development!
</p>

<p class="flow-text">
  Roughly two weeks ago I found this very nice Core 2 Duo vPro HP Compaq Elite 8000 convertible mini-tower. Core 2 Duo does not 
  support hyper-threading, unlike the current core i3, i5 and i7 processors, but it still gets the job done. Incidentally, this 
  Core 2 Duo PC is way faster than my i5 Samsung laptop! When I switched from desktops to laptops due to my rather nomadic 
  lifestyle, I completely disregarded desktop PCs as heavy, clunky and immobile. That might be true, but they're also more 
  powerful than laptops!
</p>

<p class="flow-text">
  It was clear to me then – <b>laptops are not designed for heavy computing</b>. Even if the vendor brands them as such. Then 
  again, they provide all of the necessary ports and peripheral devices, like Web cams, SD card readers and microphones in a 
  ready package. Not to mention <b>mobility</b>. The moment you have to move someplace, a desktop computer becomes instantly 
  useless. However, in terms of performance they lose badly. CPU and GPU clock speeds are reduced to avoid overheating and extend 
  battery life. Also, the majority of components cannot be replaced or exchanged. Especially, nowadays when extensibility is 
  sacrificed in favor of lightness and performance. This was a major design flaw in laptops with a single discrete GPU soldered 
  to the logic board. Once it desoldered, the laptop was completely useless and the logic board had to be replaced. Not to 
  mention that cooling systems in laptops are laughibly bad. Two thin metal pipes connected to two small fans? Really? To 
  properly game on a laptop, you need a cooling pad. It works well, but instead of immobilizing your laptop on a stand, why not 
  get a desktop PC for less? Especially considering that modern small form factor setups are quite powerful (I saw one the other 
  day for roughly $700-800) and occupy hardly any space.
</p>

<p class="flow-text">
  Hence, a lesson for me and for all other potential laptop buyers. Laptops mean mobility, NOT performance. Don’t be fooled by 
  the empty claims from vendors! It's either a workstation or it's mobile.
</p>
