<p class="flow-text">
  Recent events documented in the Internet and <a target="--blank" href="https://people.debian.org/~srivasta/talks/why_debian/talk.html">a certain 
    article</a> led me to reflections concerning the very nature of Linux. Some months ago it was confirmed – systemd will become 
    the primary init system in Debian. This has been a matter of general dispute in the Linux community due to a number of 
    controversies surrounding systemd and its authors. The original creator, Lennard Poettering, decided to seemingly disregard 
    the many years of progress in Unix system design and introduce features which theoretically break the continuity with System 
    V init and other Unix init systems. The highly monolithic nature of systemd also potentially poses a stability risk by being 
    a single point of failure and a wide attack surface for malicious software. To top it off, critical bugs like the 0 UID 
    instant privilege escalation were treated as <em>features</em>. However, the supporters of systemd claimed it is a decisive 
    step in the correct direction – improving system service management on Linux and unifying the highly fractured ecosystem.
</p>

<p class="flow-text">
  On a different front – Facebook introduced a new set of policies. According to the changes to the Terms of Use agreement, now 
  unnamed <em>third parties</em> will have full access to users' personal information and telemetry data of their devices 
  (computers, cell phones, etc.). Unfortunately, as with several other clauses in the current agreement, the term <em>third 
    parties</em> isn’t defined exhaustively and can mean virtually anything. While not a fan of conspiracy theories myself, the 
    Paranoid Pete in me boiled...
</p>

<p class="flow-text">
  After those unsettling news I felt slightly depressed. Then, I read an article by a very knowledgeable Debian expert and my 
  mood improved. In my journey through Linux I completely forgot about the essence of Linux – <b>choice</b>! I am in no way 
  forced to use systemd! I can simply choose a distribution which utilizes a different init system, for instance Gentoo, CRUX, 
  or Salix. In fact, I am currently considering running a non-systemd distribution at least as my secondary OS (about that later).
</p>

<p class="flow-text">
  Facebook is also not an absolute <em>must have</em> to me. There is a plethora of other social networks with tons of 
  participants waiting to be befriended. Again, the key is choice. Corporations seemingly create monopolies, but those are only 
  monopolies of popularity. One does not have to follow corporations as long as alternatives are available. Fortunately, in the 
  age of globalization alternatives will never become a limiting factor!
</p>

