<figure>
  <img class="responsive-img" src="https://cdn.wallpapersafari.com/63/49/ImzBTM.jpg">
  <figcaption><em>Bro, you need to eat more fish to become a great Linux user like mom and dad!</em></figcaption>
</figure>

<p class="flow-text">
  It has been over 2 months since I embarked on my perilous journey to learn Linux. Many things have changed, mostly my approach 
  to technology. I feel that through my numerous struggles I have learned a great deal and gained a completely new perspective. 
  Now, everything seems so organized and comprehensive. To me a cell phone is no longer just a cell phone. It is an assembly of 
  various pieces of hardware with an operating system orchestrating everything. It has a clear purpose, too – communication. This 
  new awareness made me realize that all of this is thanks to Linux!
</p>

<p class="flow-text">
  Currently, I feel that Linux is less of a Unix-like operating system and more of a philosophy. In addition, the philosophy of 
  each distribution and its guiding principles are slightly different. Initially, I struggled as everything was new and foreign 
  to me. Then, I began to understand and learn. I went through countless Linux distributions, reading about useful programming 
  languages, kernel architecture, drivers, modules, etc. All of that not only enriched my day-to-day experience as a user, 
  helping me troubleshoot basic problems, but also helped me understand Windows itself better. As an operating system, Linux 
  requires one to embrace the inner curiosity of <em>Homo sapiens</em>. Naturally, Ubuntu, Fedora and the like are generally 
  considered user-friendly, but still require a certain degree of computer savvy. The Internet and the command-line are your 
  friends. There is no reason to be afraid of them. Quite the contrary, both are very powerful alies. Sometimes I find myself 
  looking for the terminal on my Windows computer at work, because it is that much more convenient!
</p>

<p class="flow-text">
  Now that I have gained sufficient proficiency in using Linux, I will delve further into its architecture and try to understand 
  the kernel better. For a curious mind sky is the limit!
</p>
