<p class="flow-text">
  I first came in contact with open-source communities when developing modifications (mods) for the popular Bethesda Softworks 
  gaming title <em>The Elder Scrolls: Skyrim</em>. While the game itself is proprietary, Bethesda released a number of tools that 
  made it possible for players to expand the game and freely share their creations. Producing various pieces of in-game apparel I 
  quickly began to understand how a good community should function. The basics were rather simple – <b>sharing and caring</b>.
</p>

<p class="flow-text">
  To me everything was simply a matter of socialist economy applied on a very small scale. Let us consider a trivial example:
</p>

<ul class="collection">
  <li class="collection-item">
     There are 10 craftsmen, each specializing in a different craft.
  </li>
  <li class="collection-item">
    Each produces a single type of goods, but thanks to common distribution channels (the Internet), he/she can freely share them 
    with all the other craftsmen.
  </li>
  <li class="collection-item">
    As a result, each craftsman profits 10-fold by contributing with his/her own work and in return gaining access to products 
    outside of his / her area of expertise (SHARING).
  </li>
  <li class="collection-item">
    Also, as their perspectives differ, craftsmen can give each other valuable feedback to improve the quality of their products 
    (CARING).
  </li>
</ul>

<p class="flow-text">
  Now, as we increase the size of the craftsman population, gains increase exponentially. However, the human being is an 
  imperfect one and certain issues can occur:
</p>

<ul class="collection">
  <li class="collection-item">
    New members of the community might be more interested in taking, rather than giving, contributing nothing in return.
  </li>
  <li class="collection-item">
    Someone might find a way to make profit off the community-shared goods and sell them as his / her own.
  </li>
  <li class="collection-item">
    Out of spite someone may sabotage the joint efforts of the community or identify exploits to misuse the shared goods.
  </li>
</ul>

<p class="flow-text">
  Fortunately, such <em>rotten apples</em> are few and their ill intentions are usually over-shadowed by the good deeds of the 
  community and, despite being loud, quickly forgotten. The gist of it all is that an open-source community will produce things 
  much more efficiently than a company. The flow of information and ideas is less restricted and the community can function as a 
  single, well-coordinated entity out of its own will. The only boundaries are defined by common goals and honest human motivation.
</p>
