<figure>
  <img class="responsive-img" src="/static/img/sailing-boats-at-argenteuil-gustave-caillebotte.jpg">
  <figcaption class="center-align"><em>
    Like boats at sea<br>
    Like boats ashore<br>
    We the penguin people<br>
    Row through life to freedom
    </em></figcaption>
</figure>

<p class="flow-text">
  Some time ago I wrote about how excessive forking of Linux distributions leads to needless dilution of human effort 
  (<a target="--blank" href="/010">The Bitter Taste of Mandrake Juice</a>). At that time I was quite frustrated with the 
  situation of Mandriva Linux. I wrote about how Open Mandriva Lx and Mageia could achieve much more if they became a single 
  distribution, or at least if the communities worked together more closely (like those of antiX and Mepis in order to create 
  antiX MX). Sadly, the likelihood of that happening is very slim.
</p>

<p class="flow-text">
  I have to admit that in my musings I neglected the positive aspect of forking. It became apparent to me only when I took more 
  interest in various Debian-based distributions and started testing them one by one. The development team behind each of them 
  put substantial effort into creating a product that will satisfy the tastes of a certain userbase. Thanks to them, me and many 
  other people have what I appreciate most – <b>choice</b>!
</p>

<p class="flow-text">
  As Debian is relatively modular and highly dependent on the selection of apt repositories, one can theoretically mix and match 
  with great success. Debian Stable can be transformed into Testing or Unstable easily. Derivative distributions may be morphed 
  back into Debian proper (for instance, Semplice based on Debian Unstable / Sid offers quick access to Debian Sid repositories 
  through configuration files). Not without issues, of course, but it is feasible. Regardless of the starting point, the end 
  result is ultimately the same - a Debian-based operating system. Of course, choosing a derivative distribution makes the initial 
  setup smoother.
</p>

<p class="flow-text">
  One can take the notion of unity in the Linux ecosystem even further. Whichever distribution we use, all / most of them have a 
  graphical user interface (KDE, Mate, GNOME, Xfce, etc.), a Web browser (Opera, Firefox, Chromium, etc.), an office suite (Libre 
  Office) and so on and so forth. The distinguishing features are typically only package management and the general look & feel. 
  Therefore, I often refer to the comprehensive Arch Linux wiki for general guidance even when configuring Debian or OpenSUSE.
</p>

<p class="flow-text">
  In a peculiar way the unity of Linux is expressed in the fact that we all use the same operating system kernel and third-party 
  software, not necessarily the exact same distribution.
</p>
