<figure>
  <img class="responsive-img" src="/static/img/apple-orchard.jpg">
  <figcaption><em>I ain't no painter, but these apples look delicious!</em></figcaption>
</figure>

<p class="flow-text">
  When I was a kid, we used to search for information in books – encyclopedias, journals, illustrated lexicons, etc. Writing an 
  essay was considered challenging, as it required hours of reading and collecting data. I also remember when I had to prepare a 
  portfolio of local bird species. All of the photos in it were personally taken by me (a <em>portfolio</em>, obviously, but 
  back then I didn't quite know what that means). None of my classmates who had been given the same task would even consider 
  downloading the photos off the Web. Yes, the Internet existed already, but it was not a <em>thing</em> yet. This might sound 
  a little unbelievable to newer generations. Nowadays, everything is online. Everything is out <em>there</em> for the taking. 
  One can just access this mighty <em>orchard of knowledge</em> and grab an apple or two.
</p>

<p class="flow-text">
  With time the <em>orchard</em> grew and expanded, covering more and more topics – economy, politics, philosophy, sociology, 
  science, etc. However, I feel that the caretakers are few in number and the <em>orchard</em> has been left unattended for 
  too long. This is especially glaring in the ever-changing Linux ecosystem. I often stumble upon articles, forum threads, whole 
  websites, etc. which are just plain outdated. We have more <em>trees</em> than we can take care of, it seems! Or perhaps it is 
  not so?
</p>

<p class="flow-text">
  One might expect that if a digital platform hosts a website, that platform is responsible for keeping that website up-to-date. 
  What if the hosted content belongs to content creators and the platform merely provides a means of showing that content to 
  the wider public? While overly descriptive, this is exactly what YouTube and many other platforms do. Therefore, I don't think 
  expecting any single entity to keep the content up-to-date is very realistic. Of course, videos and articles typically contain 
  timestamps. However, these only place the content on a timeline between <em>then</em> and <em>now</em>. Some content gets 
  outdated quickly, while other is somewhat more universal. So how do we keep the Internet up-to-date? <b>Is it even possible?</b>
</p>

<p class="flow-text">
  What I hinted at slightly in the previous paragraph was the content creators. It's not a highly motivated and creative group of 
  Super Talented People. <b>It's all of us!</b> We're both the users of the Internet and its main contributors. What I propose is 
  a tool that would allow us to rank content by its relevance AND flag outdated information. Together this would make up a 
  <em>relevance score</em> which then could be used as an additional variable in prioritizing search engine results. If the 
  relevance score crosses a particularly low threshold, the result or link in question is obsoleted. I admit this does not solve 
  the problem completely as the outdated piece of information still exists somewhere. However, one step at a time!
</p>
