<figure>
  <img class="responsive-img" src="/static/img/computer-guys-evolution.jpg">
  <figcaption><em>At least the table still stands</em></figcaption>
</figure>

<p class="flow-text">
  Some time ago I took up a new, quite inglorious hobby – <b>dumpster raiding</b>. Where I live right now people throw away a lot 
  of electronics and some of it is still fairly functional. Of course, many of the items are damaged beyond repair and I don't 
  want to invest in dying tech without good reasons. Regardless, from time to time I find real treasure. For instance, roughly a 
  month ago I found a complete PC tower. I was shocked, because everything was inside – RAM, a hard drive (HDD), a graphics card, 
  etc. All I needed to do was get a screen, a keyboard, a mouse and some cables.
  
</p>

<p class="flow-text">
 The PC had an 80 GB HDD, 4 x 256 MB RAM and a Pentium IV processor. I installed the i386 version of Debian on it and it was 
 super fast! I chose a fairly light window manager, IceWM, so the base memory footprint was around 100 MB. Thanks to that I had 
 plenty of RAM for daily tasks, which by the by felt like a breeze thanks to Intel's hyper-threading (HT). Then, I realized 
 Pentium IV is actually quite ancient. It's mid 2015 and one can already buy PCs with several CPU cores, tens of GB RAM, 6+ TB 
 hard drives and what not. <b>However, does one really need hardware that powerful?</b>
</p>

<p class="flow-text">
  Some of you might think <em>Umm... why not get a proper PC instead of this eco-unfriendly piece of electro-junk?</em> Fair 
  point. Remember though, I was born in the 8-bit era and began my computing adventures in the 16-bit era. To me, Pentium IV was 
  a <em>beast</em> of a processor. A monumental achievement in hardware development.
</p>

<p class="flow-text">
  What I realized was that until a certain point in time, computers were getting noticeably better. My Matrox 3D graphics card 
  would be too weak for more modern games, the hard drive was full to the point that I had to remove unused programs, the system 
  would swap due to lack of RAM, and so on. But then came Pentium IV and with 4 GB RAM it was just enough. Disk space was 
  becoming relatively cheap as well. For daily tasks like browsing the Web, doing homework, etc. this setup was fully sufficient.
</p>

<p class="flow-text">
  Of course, comparing computer specs by sheer numbers is like comparing apples to oranges. 4 GB RAM nowadays is way faster than 
  4 GB RAM back in the Pentium IV days. Especially, considering that now we have DDR3 RAM and back then it was DDR2 or the slower 
  DDR. However, I feel computer retailers are sometimes doing a disfavor to customers by pushing overpowered gaming hardware to 
  unsuspecting casual shoppers. If your only use of a PC revolves around browsing the Internet or filing taxes online, you 
  <em>obviously</em> need a top-shelf behemoth, because, you know, maybe someday you'd like to fire up <em>Crysis 10</em> to 
  chill out a bit. Also, <em>with our new core i7-8000K Ultra Hyper Book X you will be able to browse the Web a thousand times 
    faster!</em> I'm sure that's absolutely <em>true</em>, especially f the website is hosted on a tiny underpowered SPARC server 
    from the early 1990s.
</p>

<p class="flow-text">
  Every year we produce more and more electronic garbage. We generate more than we actually need. Ha, <b>more than we'll ever use.</b>
  And this is exactly where Linux comes in. <b>Linux can turn this garbage into treasure!</b>
</p>
