<p class="flow-text">
  I want to kick this one off with an extremely brief history lesson. Roughly half a century ago (1964) 
  <a href="https://en.wikipedia.org/wiki/Multics">Multics</a> was born. It was perhaps one of the most influential operating 
  systems, later superseded by my favorite operating system - <a href="https://en.wikipedia.org/wiki/Unix">Unix</a> (trademarked 
  as <em>UNIX</em>). The interesting thing about Unix, apart from introducing user permissions and a swath of other features 
  common nowadays, was that it <b>defined a standard</b>. Other operating systems like HP-UX, Solaris or Irix could claim 
  compliance and compatibility with Unix based on a purchased license. To my knowledge, the last system which did that was 
  Apple's Mac OS X.
</p>

<p class="flow-text">
  In the year 1980 the Disk Operating System (DOS) was released. It gave rise to a number of commercial products like PC-DOS 
  and MS-DOS. The latter was the main operating system I used as a kid. Windows (initially called Interface Manager), a graphical 
  extension for managing multiple applications at the same time, was announced just 2-3 years after. Despite its very 
  disappointing beginnings, it is now the most popular desktop operating system. At one point in time there was significant 
  rivalry between Windows and the Unix-based NEXTStep / MacOS line, but Microsoft and IBM eventually won against Apple thanks to 
  competitive pricing. IBM computers were simply more affordable.
</p>

<p class="flow-text">
  Sadly, a lot had to be sacrificed to achieve the level of user-friendliness Windows sports today:
</p>

<ul class="collection">
  <li class="collection-item">
    Configuration options hidden behind multiple levels of graphical menus, making them difficult to find
  </li>
  <li class="collection-item">
    System configuration files in inaccessible formats to prevent accidental damage or tampering
  </li>
  <li class="collection-item">
    A multitude of helper scripts, system services and applications to make the user’s life easier
  </li>
  <li class="collection-item">
    Highly intrusive system management tools depriving the user of choice
  </li>
  <li class="collection-item">
    Many others
  </li>
</ul>

<p class="flow-text">
  Now, I wrote <em>user-friendliness</em>. That's not exactly true, though. Windows simply offers a comfortable environment 
  for daily computer tasks. It doesn't help the user, it limits him or her. But perhaps that's what the majority of people really 
  needs? I think it would be a complete disaster if critical system configuration was immediately exposed to the user!
</p>

<p class="flow-text">
  Back to Linux, though. Currently, it's stuck in a bit of a vicious circle. It cannot become truly popular, because it's not 
  popular enough. Many things out there, like pop music are popular, because they are popular. Because someone made an effort to 
  market them well enough to start a snowball effect. Once the ball is rolling, it's difficult to stop and one can't tell anymore 
  why it started rolling in the first place. What can be done to get the Linux ball rolling then? <b>How to make it as popular as 
  Windows and MacOS?</b>
</p>

<p class="flow-text">
  There are many initiatives, like the GNOME and KDE projects, already. Herein lies the problem, though. <b>To make Linux more 
    popular, it needs to be less like Linux and more like proprietary operating systems.</b> It needs to <em>appeal</em>. Should 
    it, though? Should Linux become yet another desktop operating system?
</p>
