<p class="flow-text">
  Since my very early childhood I always enjoyed tinkering with electronics. I used to disassemble toy trains, cars and 
  motorcycles. After I had received my first PC, this habit escalated and items such as joysticks and gaming pads fell victim to 
  my tinkering urges. As time went by, my targets increased in size and I began fiddling with desktop PCs. I truly enjoyed 
  altering and improving everything around me. This included software. Sadly, Windows as a tinkering platform isn't particularly 
  malleable.
</p>

<p class="flow-text">
  First off, software for Windows is usually available only in binary form and protected by numerous copyright laws. Therefore, 
  even if you somehow manage to decompile it or understand the configuration files well enough to <em>hack</em> it, the capacity 
  to publish your findings is very limited. When you acquire a piece of software, you actually own only the license to use it. 
  Same as with books - you are entitled only to the single paper or electronic copy you purchased.
</p>

<p class="flow-text">
  Sadly, this copyright-entrenched distribution model is extremely restrictive and doesn't allow the vast community of developers 
  to profit from the software's inception. Also, this distribution model stands in stark contrast to open-source and free 
  software, which usually can be freely distributed, modified and further redistributed. In my opinion, the freedom to tinker 
  with any piece of software is extremely beneficial to its longevity, but also augments the overall quality of software with a 
  similar purpose. Study of software freedom eventually led me to the work of Richard Matthew Stallman.
</p>

<p class="flow-text">
  Richard Matthew Stallman (nicknamed RMS on Internet forums) is a freedom activist, Linux developer and programmer. The list of 
  his achievements is so long that one could easily write a book (or two!) to try to cover his life. I personally hold RMS in 
  very high regard and consider his Four Freedoms to be of equal importance to Isaac Asimov’s Three Laws of Robotics. However, 
  when discussing software freedom, one should consider the possible extremes – lack of freedom (tyranny) and overabundance of 
  freedom (anarchy). Neither extreme is particularly favorable, of course.
</p>

<p class="flow-text">
  To briefly recapitulate Stallman’s Four Freedoms:
</p>

<ul class="collection">
  <li class="collection-item">
    1. The freedom to run the program <b>as you wish, for any purpose.</b>
  </li>
  <li class="collection-item">
    2. The freedom to <b>study</b> the program and to <b>modify</b> it according to your needs.
  </li>
  <li class="collection-item">
    3. The freedom to <b>distribute</b> the original software to help others.
  </li>
  <li class="collection-item">
    4. The freedom to <b>redistribute</b> your modifications so that everyone can profit from them.
  </li>
</ul>

<p class="flow-text">
  Points 2. 3. and 4. assume access to the program's source code. However, a piece of software has to fulfill all points to be 
  considered truly <em>free</em>. While I agree with points 1. and 2., I'm somewhat on the fence with points 3. and 4.
</p>

<p class="flow-text">
  Points 1. and 2. make sense to me, because the usual involvement of money in software distribution according to the commercial 
  model taints the relationship between users and developers. The user suddenly becomes a regular customer, with expectations 
  proportional to the money spent on the product. The relationship is made even more <em>unhealthy</em> by the fact that 
  often the user has access to the software only after concluding the purchase. Therefore, he or she actually pays for the 
  <b>promise</b>, rather than for the product. Back in the day we used to have demos, trial versions and shareware editions of 
  software. While one could assume these were used to entice the prospective customer, at least he or she was allowed to sample 
  the product before committing.
</p>

<p class="flow-text">
  Now, this view of mine contradicts with my opinion on points 3. and 4. At least partially. It would of course be great if all 
  software out there was free to use and modify, but that leaves a lot less room for business success stories. More so, it would 
  force companies to always develop software from scratch, each their own. This is often the case in the games industry, though 
  it makes little sense in many other fields. That is why software of potential commercial importance is typically released 
  under a more permissive license, such as MIT, Apache2 or BSD.
</p>

<p class="flow-text">
  To conclude, I believe Stallman’s Four Freedoms are of great import and should be applied to software when possible. However, 
  it is also acceptable for companies to run businesses on open-source software, because it showcases the usefulness of certain 
  programs and indirectly incentivizes companies to contribute back.
</p>
