<figure>
  <img class="responsive-img" src="/static/img/cowbell.jpg">
</figure>

<p class="flow-text">
  For quite a while I’ve been busy with my life and happy with Arch Linux on all of my computers. However, recently I came to a 
  somewhat regretful realization that I have hardly any time to tinker with computers and that I have to set everything from the 
  ground up every single time I decide to do a full system re-install. I do like to know what’s under the hood of my operating system 
  and I like extremely minimal setups (bare window manager + most basic tools), but they're very time-consuming. Also, to be 
  completely frank, my sense of composition is so severely lacking that my UI always ends up looking generic. Hence, I decided to 
  explore some GUI-heavy, user-friendly distributions with their rich offering of pre-installed software.
</p>

<p class="flow-text">
  The first choice was my <em>old love</em>, Lubuntu and its spin-off project, Peppermint OS (a new version was released recently). 
  No surprises here. Contrary to Linux Mint, which I also tested by-the-by, Lubuntu was highly responsive and as always very light on 
  resources. I find the selection of pre-installed software to be just perfect. Firefox has never failed me and I use Pidgin on a 
  daily basis as a multi-protocol messenger tool (mostly for IRC). As Lubuntu is a lightweight flavor of Ubuntu, one has immediate 
  access to the vast repositories hosted by Canonical and its partners. Peppermint OS is equally interesting. It's a bit like Lubuntu, 
  though with a more cloud-centric twist. The look of the UI is visually pleasing and the overall resource footprint low, because 
  some functionalities were encapsulated as browser plugins. An interesting approach, considering the ever-growing reliance on the 
  Web and cloud storage.
</p>

<p class="flow-text">
  Unsurprisingly, the second choice was Manjaro Linux. It was my first lightweight Linux distribution with great hardware support and 
  a strong, reliable base in Arch Linux. In fact, Manjaro encouraged me to try Archbang and finally Arch proper. Seeing Arch’s 
  popularity in decline and the multitude of Manjaro’s flavors, I decided to give it a spin. I started with my old-time favorite,
  the Openbox edition (previously, the only available edition), but also gave the i3 and minimal Xfce editions a try. I was honestly 
  awestruck by the minimal Xfce edition! For a very long time (save for AntiX) I have not seen such a light and efficient adaptation 
  of Xfce. I liked that desktop environment for its resemblance to the old Windows UI, but always felt it’s heavier on resources than 
  it should be based on its looks. Though here I am, mesmerized by Xfce once more!
</p>

<p class="flow-text">
  To conclude, I greatly appreciate the time I have spent with Arch Linux and the insurmountable amount of experience I have gained 
  from using it. While I no longer have the time to utilize it to its full potential, I look forward to using the many established 
  user-friendly Linux distributions.
</p>
