<figure>
  <img class="responsive-img" src="/static/img/rasta-gnu.png">
</figure>

<p class="flow-text">
  As part of my recent research on GUI-heavy Linux operating systems, I decided to take a closer look at Fedora. According to its 
  home page, it is a feature-rich distribution with software and hardware developers in mind. Fedora is a community-driven project, 
  though by some considered a testbed for Red Hat software before that software is included in the main product - Red Hat Enterprise 
  Linux (RHEL). Regardless of what people make of it, Fedora is a tremendously successful project.
</p>

<p class="flow-text">
  Personally, I found Fedora to be of great interest, due to its strict and unyielding approach to licensed software. Many Linux 
  distributions offer license-encumbered software one way or another, usually through optional repositories (<code>non-free</code> in 
  Debian, <code>restricted</code> in Ubuntu). It's slightly surprising Fedora doesn't, but perhaps it does make some sense. After all, 
  the same packages are used in RHEL. It would be problematic if heavily licensed software slipped through the cracks and caused a 
  lawsuit somewhere down the line. Sadly, many programs and software libraries we know are licensed or even proprietary (‘non-free’ by 
  definition), for instance media codecs like MPEG3 and MPEG4. Hence, to me it was only natural to have access to these. Fedora makes 
  it a tad more difficult (though not impossible!) to get the missing software. The <a target="--blank" href="https://rpmfusion.org/">
    RPM Fusion</a> project offers a repository with 'non-free' packages for multiple Fedora releases. Though slightly troublesome, 
    I consider it a good solution to licensing struggles. 
</p>

<p class="flow-text">
  At this point I should probably make it extra clear that <b>not all open-source software is free software</b>. The term <em>free 
    software</em> has been very well defined by the Free Software Foundation (FSF), headed by Richard M. Stallman, and covered to a 
    far lesser extent in <a target="--blank" href="/posts/32">one of my other entries</a>. To recap briefly, software is truly free 
    only when it complies with the Four Freedoms as put forth by Richard Stallman. Otherwise, it is merely open-source software. Now, 
    'free' in 'free software' means <em>freedom</em> (<em>liberté</em> in French) not 'free' as in ‘free beer’.
</p>

<p class="flow-text">
  To the titular question though – <em>What is the price of free software?</em> Obviously, the direct price is zero, since we don't 
  spend money on it. <b>However, the abstinence from using licensed software has a much greater cost.</b> Case in point, I have an 
  old Intel-based 2008-series MacBook Pro with Fedora 22 64-bit on it. I cannot use the AirPort Extreme Broadcom 4322 wireless chip, 
  because only the proprietary <code>broadcom-sta</code> driver supports this specific chip revision (a common problem, in fact). 
  Therefore, I am forced to buy a USB dongle with driver support in the Linux kernel and permanently keep it in one of my 2 USB ports. 
  Next, of the available browsers I can only use Midori, which is still very buggy and incomplete, or Firefox’s libre equivalent 
  IceCat. Therefore, I’m left with Firefox/IceCat and a teaspoon of plug-ins considered to be libre. Should I decide to commit to 
  graphics design and 3D rendering, I would probably need proprietary drivers for my integrated nVidia card (320M or 9400M) to make 
  the best of my outdated hardware. Not possible, because the default <code>nouveau</code> driver for nVidia cards is frankly 
  speaking still light years behind its proprietary counterpart. <b>Summing up, I’m left with a decent, but grossly limited computer 
  that feels like a ‘demo version’ of itself.</b> To be fair, a MacBook is definitely <b>not</b> the best choice for a libre PC. 
  An IBM Thinkpad or a Dell laptop would've been much more suitable.
</p>

<p class="flow-text">
  In my opinion, the concept of free software is very noble and encourages developers to be more mindful of open-source communities. 
  However, for now it is completely utopian and will never gain full momentum as long as people have the capacity to put a price tag 
  on any single thing.
</p>
