<figure>
  <img class="responsive-img" src="/static/img/penguin-marriage.gif">
</figure>

<p class="flow-text">
  After months of struggle, solving simple problems with <em>heavy duty</em> programming tools, I finally decided to go mainstream. 
  One doesn’t need to set up a minimal system each and every single time a new computer is bought/fixed/brought back to life. 
  It’s highly educating. It's definitely fun, but there is a time in the life of every open-source aficionado when she or he decides 
  to switch from maintaining a system to actually using one. For me this time has finally come.
</p>

<p class="flow-text">
  Currently, I'm running a couple of the so-called <em>mainstream</em> Linux distributions on my computers. Each has its pros and 
  cons, and when I get annoyed with a specific distribution to the point that using it becomes unbearable, I switch to something else.
  In this entry I'd like to collect my thoughts regarding some of the most popular Linux systems.
</p>

<p class="flow-text">
  Ubuntu and its many derivatives are the most widely known. Although most people out there don’t know what Linux or Unix are, I’m 
  perfectly sure they have heard of Ubuntu before. Not only as an African word meaning <em>humanity towards others</em>, but also as 
  a fringe Windows competitor for geeks. Ubuntu sports possibly the best hardware support and is the default choice of multimedia and 
  game developers. Lastly, it has the largest repositories with some unique and useful software packages like <code>nvidia-prime</code> 
  for Intel + nVidia Optimus laptops.
</p>

<p class="flow-text">
  Fedora is a very interesting alternative to Ubuntu. While Ubuntu offers appealing out-of-the-box experience for newbies, Fedora is 
  geared towards more experienced users, software developers and engineers. It also emphasizes the use of open-source and free 
  software whenever possible. Fedora may seem slightly less flexible than Ubuntu in terms of initial desktop choice, but its 
  minimal installation image more than makes up for that. I found the possibility to select software categories during installation 
  extremely useful.
</p>

<p class="flow-text">
  OpenSUSE is a curious mix of a community-driven distribution for developers and users alike with a strong enterprise focus. The 
  online Open Build Service (OBS) lets programmers easily produce software packages for openSUSE and many other popular distributions, 
  while openSUSE Studio offers an online manager for building custom installation images. Much like the somewhat loathed Windows, 
  openSUSE is governed through a Control Panel manager called YaST. With its central management and fast '1-click installs’ it will 
  definitely win the hearts of Windows escapees. I much enjoyed working with the green lizard, except for some minor kinks.
</p>

<p class="flow-text">
  At this point you may ask – Why only those 3? Where is Debian, for instance? It's true that Debian is immensely popular, especially 
  as a battle-tested server ecosystem. Also, without it there would be no Ubuntu. Ironically, Ubuntu surpassed Debian in popularity 
  as a mainstream distribution, since it is much easier to set up. Of course, there are many more Linux distributions which one may 
  consider mainstream or at least easy to use, like Manjaro. More on those in my next entry!
</p>
