<figure>
  <img class="responsive-img" src="/static/img/337px-fist-svg.png">
</figure>

<p class="flow-text">
  Since I started using Linux, and more specifically Arch Linux, I really began to enjoy the freedom of the open-source ecosystem. 
  Initially leaving Windows, I was afraid that some of my favorite programs may not function properly or wouldn’t have usable 
  alternatives on Linux. Therefore, I greatly investigated the availability of software designed for specific tasks – listening to 
  music, browsing the Web, gaming, etc. In principle, everything was there and in significant variety! To this day, however, I deeply 
  dread invisible walls of computing restrictions, like copyrights, proprietary file systems, and so on and so forth. Even getting to 
  know the industry-oriented openSUSE required a bit of courage on my part. Alas, various restrictions are definitely present and 
  the main force behind them are monopolies.
</p>

<p class="flow-text">
  There are monopolies and olygopolies within every market and the software market is no different. Big companies thrive as long as 
  they remain flexible enough to adjust to the changing tastes of their target audience. Both Microsoft and Apple do it superbly, 
  though as we know quite well, not without hiccups. Monopolies are not intrinsically bad, however they do tend to cause the market to 
  stagnate. Also, they often enforce the use of a single brand, not through encouragement, but rather by eliminating or limiting 
  competition or by relying on heavily licensed solutions. Notable examples again from the Windows-verse – proprietary file formats. 
  Many software suites use their own file formats, rather than utilizing publicly available (free) formats. One reason could be a 
  choice of tailored features or a technical merit. This wouldn’t be a real problem if the competition had complete access to those 
  formats, even if only for the sake of being fair. Obviously, this does not happen, because companies barb their software with 
  copyrights in order to protect their secrets and accomplishments.
</p>

<p class="flow-text">
  How do we go about the problem of vendor lock-in, then? It’s far less complicated than it may sound. After all, it is (hopefully!) 
  in our best interest to encourage the use of alternative products and lessen the presence of a particular mainstream product. What 
  we ourselves can do is:
</p>

<li class="collection">
  <ul class="collection-item">
    <b>Be an example</b> - use alternatives and show they're as good if not better than the main product(s) on the market.
  </ul>
  <ul class="collection-item">
    <b>Spread the word.</b> Let people know that they don't have to rely on product X to get their work done.
  </ul>
  <ul class="collection-item">
    <b>Contribute.</b> Improve alternatives, participate in their development, make them better and most importantly, make them 
    competitive! After all, ‘community’ means ‘unity’ and ‘unity’ means ‘power’.
  </ul>
</li>

<p class="flow-text">
  Alternatives and competition are essential to the well-being of any market, as they encourage dynamic progress and nurture 
  creativity. They also help in shaping existing products to better suit the needs of the populace. After all, it should be up to 
  <b>us</b> to decide what we want, not up to companies to feed us their ideas.
</p>
