<figure>
  <img class="responsive-img" src="/static/img/gnu-fedora-hat.png">
</figure>

<p class="flow-text">
  In <a target="--blank" href="/posts/34">one of my previous entries</a> I mentioned Fedora and how it encourages the use of free 
  software. My first impression was so overwhelmingly positive that it got me hooked already. I finally feel committed to a specific 
  distribution and I am more than eager to contribute by solving people’s problems (this I particularly enjoy) and reporting bugs. 
  I wanted to share my opinion on a number of features of Fedora which I found most compelling:
</p>

<ul class="collection">
  <li class="collection-item">
    <span class="title"><b>Supported by Red Hat</b></span>
    <p>
      While for many Linux enthusiasts this may mean a strong enterprise/industry focus and less care for open-source and free 
      software, this is not true. Fedora is funded by Red Hat and serves as a testing ground for features to be later incorporated 
      in Red Hat Enterprise Linux (RHEL), however it has a soul of its own. One that’s driven largely by a community of dedicated 
      users and developers, who primarily care about popularizing Linux and free software. From a different perspective, one has to 
      understand and appreciate the huge contribution of Red Hat to Linux development when it (Linux) was still in its infancy (1990s).
    </p>
  </li>
  <li class="collection-item">
    <span class="title"><b>Great out-of-the-box experience</b></span>
    <p>
      Recently, I focused on Linux distributions which are easy to install and offer a good selection of tools to use right from the 
      get-go. I’m slightly tired of setting up new PCs from scratch (sorry, Arch :() and fixing configuration issues that shouldn’t 
      even exist anymore (oh, Debian and openSUSE...), hence my choice of Xubuntu, Fedora and the likes. Among the ones I tested, 
      Fedora seemed to sport the most sane combination of features. Reasonable software selection (especially the LXDE spin!), 
      a visually pleasing, yet not over-beautified desktop experience (calm themes rich in blue), etc. Installing additional software 
      also seemed straightforward and fast. <code>yum</code> and <code>dnf</code> offer a much more descriptive output than 
      Debian/Ubuntu’s <code>apt</code> (seriously, what was wrong with aptitude again...?) and speed-wise are on par with Arch’s 
      <code>pacman</code>. Furthermore, aside from Arch Linux, Fedora was the only distribution where Skype worked instantly after 
      installation (openSUSE, how about sorting those dependencies out yourself, hmm?).
    </p>
  </li>
  <li class="collection-item">
    <span class="title"><b>Strong and vibrant community</b></span>
    <p>
      All Linux distributions have their communities, but usually they are somehow restricted to forums and/or IRC channels. Arch 
      Linux has its Arch User Repositories (AUR) as an additional means of software-related interactions between users and package 
      maintainers. However, Arch adheres strongly to the KISS principle and the community is rather small. Fedora has basically 
      everything. There are forums, IRC channels, a magazine announcing new development decisions or features, gatherings (Flocks), 
      reports, etc. One can really feel that the community is a crucial part of the distribution. Not to mention how easy it is to 
      contribute by testing packages or writing documentation.
    </p>
  </li>
  <li class="collection-item">
    <span class="title"><b>The vanguard of software development</b></span>
    <p>
      Fedora is the first to get the freshest and most exciting Linux features. Most packages are close to their respective upstream 
      versions and there is a great deal of collaboration between Fedora and upstream projects (including 
      <a target="--blank" href="https://www.kernel.org/">kernel.org</a>) going on. The software is cutting-edge, but it doesn’t make 
      the user bleed. Interesting new features are covered by the Fedora Magazine in an encouraging manner. It’s hard not to get 
      excited!
    </p>
  </li>
</ul>

<p class="flow-text">
  Currently, I am in a state of deep euphoria and I would like Fedora to be on all of my computers (and the computers of my 
  colleagues, for that matter!). It’s also nice to see people wearing classy blue hats around you. Emphasizes the ‘unity’ in 
  ‘community’. It seems that my distro-hopping habit has finally stopped and I can fully concentrate on my new goal - <b>programming 
    in Python</b>. More on that in my future entries.
</p>
