<figure>
  <img class="responsive-img" src="/static/img/linux_distros.png">
</figure>

<p class="flow-text">
  Summer is over and Fall is just 'round the corner. The time of harvest is nigh, with its pumpkin-headed harbinger in its vanguard. 
  For me the season of orange-brown kaleidoscopes and withering leaves is always a time of recollection and deep melancholy. However, 
  still holding onto the sunny mood, like the last warm gust, I decided to devote this entry to a round-up of several Linux 
  distributions I found most worthwhile for both greenhorns and veterans alike. There might be numbers, but they mean completely 
  nothing.
</p>

<ul class="collection">
  <li class="collection-item">
    <span class=title><b>Debian</b></span>
    <p>
      The father, mother, (sister? daughter?) and grandparent of most Linux distributions. The oldest in this round-up. Debian can be 
      literally anything. It can be an ultra-stable, unbreakable server (Debian Stable), an all-around desktop operating system 
      (Debian Testing) or a developer playground (Debian Unstable). There are very few things which Debian does not do well. 
      Unfortunately for me, one of them is dependency resolution. In its attempt to be helpful, Debian sometimes links too many 
      packages in a web of dependencies, causing artificial conflicts. This happens very rarely, though, and is swiftly resolved by 
      package maintainers.
    </p>
  </li>
  <li class="collection-item">
    <span class="title"><b>The Ubuntu family</b></span>
    <p>
      The <em>descendants of Debian</em>. A group of distributions created to show people that Linux can be attractive, fully 
      functional and most importantly competitive as compared to Windows and MacOS X. Also, that it is most likely the operating 
      system model of the future. Thanks to its many flavors, Ubuntu is suited for most hardware, even rather dated, like 32-bit 
      PowerPC.
    </p>
  </li>
  <li class="collection-item">
    <span class="title"><b>Arch Linux</b></span>
    <p>
      The Linux of the people. Debian gives choice, Arch Linux <em>means</em> choice. It is the very essence of Linux (with a package 
      manager!). It gives the user a set of basic tools to create his/her perfect operating system and thorough guidelines explaining 
      how to do it. There are completely no limits to how far one go with it.
    </p>
  </li>
  <li class="collection-item">
    <span class="title"><b>Manjaro</b></span>
    <p>
      The first-born of Arch. If Arch Linux seems too daunting, there is Manjaro. Many aspects of Arch Linux have been optimized and 
      streamlined to provide top-notch out-of-the-box experience. There are kinks and rough edges sometimes, however this should come 
      as no surprise, since it’s very difficult to build on something as do-it-yourself as Arch Linux.
    </p>
  </li>
  <li class="collection-item">
    <span class="title"><b>Fedora</b></span>
    <p>
      The grand innovator. Driven entirely by its vast community of dedicated users, designers and developers. It’s more streamlined 
      than Arch and has its base in the legendary Red Hat. Truly, while Arch is geared towards tinkerers, Fedora seems to be the 
      distribution of serious creators and software developers. Again, sky is the limit...but it’s always blue.
    </p>
  </li>
</ul>

<p class="flow-text">
  Finally, I have to make a sad yet necessary announcement. I will be temporarily closing this journal in favor of a goal I set for 
  myself - studying Unix-like operating system. More on that in the opening entry of my new blog...on Python!
</p>
