<figure>
  <img class="responsive-img" src="/static/img/tux_sucks_windows.jpeg">
</figure>

<p class="flow-text">
  Many months have passed. Tenths of Linux distributions have been tested. I have gone through all of the major players (Debian, 
  Ubuntu, openSUSE, Fedora, etc.) and tried some of the less popular ones also. That was highly taxing and I had to let go at some 
  point. At the end of the day one realizes that there is a life to live and an operating system should be a tool to carry out one’s 
  daily duties, fulfill one's dreams, etc. The one feature which mattered to me the most was <b>reliability</b>. Frankly, not so many 
  GNU/Linux distributions are truly reliable. Sometimes there is not enough manpower, while other times there are too many helper 
  scripts, apps, and other abstractions which add unnecessary levels of complexity and make troubleshooting a pain (I’m looking at 
  you, <code>dracut</code>!). Thereby, to me there are only three GNU/Linux distributions which I could honestly call reliable:
</p>

<ul class="collection">
  <li class="collection-item">
    <span class="title"><b>Ubuntu</b></span>
    <p>
      Many bad things were said about Ubuntu in the past. <em>It’s corporate. It tries to be flashy. It wants to be Windows, but 
        fails.</em> However, if one looks for a general purpose operating system that is free, stable and doesn’t suffer from 
        issues typical to Windows (DLL hell, Registry mess, hard drive fragmentation, accumulating updates, etc.), Ubuntu is the way 
        to go. Thanks to the generous support from Canonical and various gifted programmers around the globe, Ubuntu has superb 
        hardware and software compatibility. For more performant computers there is Ubuntu, Kubuntu, while for the slightly less so 
        Xubuntu and Lubuntu. I myself use Lubuntu and I am very happy with it!
    </p>
  </li>
  <li class="collection-item">
    <span class="title"><b>Debian</b></span>
    <p>
      One can think of Debian as a more community-driven version of Ubuntu, though of course that's not true. After all, Ubuntu stems 
      from Debian and many packages first pass through Debian to end up in Ubuntu. Stock Debian doesn’t require desktop environment 
      installation and can be quite minimal if necessary. Hence, it is a fantastic foundation for a server OS, especially if one 
      chooses the rock-solid Debian Stable line.
    </p>
  </li>
  <li class="collection-item">
    <span class="title"><b>Arch LInux</b></span>
    <p>
      This one is quite unique (as in, not striving to be user-friendly like most other Linux distributions), though in reality 
      being the least unique (as in, using stock configurations and vanilla packages). Arch Linux is the very core and essence of 
      GNU/Linux (stock Linux + package manager). Default package installation is as generic as possible (save for minor tweaks and 
      performance optimization for i686 and x86_64 processors), allowing high reproducibility and interoperability with other 
      GNU/Linux operating systems. Many people claim that it is not very reliable due to its <em>cutting-edge</em> nature. In reality, 
      the opposite is true. Firstly, the minimalist approach of Arch Linux reduces the complexity of the operating system. Less loose 
      parts and abstractions equals less potential issues. Programs are added one-by-one, therefore if something breaks, we’ll quickly 
      know what. Secondly, its rolling-release model allows updates to be handled individually. Thereby, if one updates frequently 
      enough, the risk of instability is in fact minor. Finally, there is a fantastic wiki to follow and a very helpful community.
    </p>
  </li>
</ul>

<p class="flow-text">
  Some distributions didn’t make the cut. why? Well, to me they’re not reliable enough. Fedora is in general a very good Linux OS, 
  however a short development cycle and misalignment with proprietary code (for instance, nVidia drivers) due to personal policies 
  leave a lot of minor bugs unresolved. Not to mention the idea of a serious workstation with GNOME3, which is a tablet-centric 
  desktop environment (also, possibly the worst desktop environment to troubleshoot). OpenSUSE makes a lot of claims regarding 
  stabilty and reliability. While its goals overlap with those of Ubuntu, its quality not necessarily so. Emphasis on PR makes users 
  flock to it, though it surely doesn’t contribute to system reliability. Manjaro would be a fantastic Arch Linux alternative, 
  however it packs far too many abstractions and add-ons. Also, the community spreads itself too thin by engaging in way too many 
  desktop environment spins.
</p>
