<figure>
  <img class="responsive-img" src="/static/img/unwanted_gifts.jpeg.webp">
  <figcaption><em>Can't stand it, but you gotta love it, right?</em></figcaption>
</figure>

<p class="flow-text">
  The open-source community likes <b>software freedom</b>, but also new features. However, oftentimes we're given new features even 
  if we didn't ask for them. Such is the nature of open-source software. We use what we get. Recently, the open-source ecosystem 
  started overflowing with these unsolicited gratifications. I believe the trend is very troubling, because many such giveaways are 
  not discussed in the community properly and imposed by minorities.
</p>

<p class="flow-text">
  The way it usually works is that a new piece of software or feature appears and suddenly a very vocal minority explodes in ecstasy. 
  <em>Oh wow, shiz, this is so cool! We need this on every computer!</em> I know I'm exaggerating and in general enthusiasm is highly 
  appreciated. However, so would be a level-headed member of the open-source community who is able to ask the right questions at the 
  right time. <em>Do we <b>actually</b> need that new feature? Will the community enjoy it?</em> From my experience, the Fedora 
  project seemingly lacks critical thinkers like that.
</p>

<p class="flow-text">
  Don't get me wrong, Fedora is a fantastic Linux distribution. Unfortunately, it's often treated as a test-bed for innovations and 
  has a track record of poorly thought-through features which were introduced way before they were ready for the spotlight. Many such 
  innovations have a narrow scope so I welcome them with no more than a faint smile and a thought – <em>Oh? Interesting...</em>. 
  However, from time to time there comes a ginormous train (wreck?) with enough force to discomfit the entire Linux ecosystem. In 
  this entry I decided to write about three such <em>disturbances in the Force</em>.
</p>

<p class="flow-text">
  <b>First off, GNOME3.</b> It was supposed to be a continuation of the GNOME2 project. Yet, things quickly went south and the 
  designers responsible for this GUI decided that it needs a complete rework. Not that there was anything wrong with GNOME2. No, quite 
  the opposite, it was a very solid desktop experience. But we got GNOME3 regardless. This new GNOME edition was oversimplified, 
  heavier on resources and only seemingly transparent. As transparent as the Windows 8 UI, from which GNOME3 drew inspiration, no 
  doubt. Many claimed that the noticeable departure from the classic desktop look would alienate GNOME's users (which it did), and 
  that GNOME3 would eventually die (which it didn't). For reasons incomprehensible to me Fedora picked it up and saw that it was cool. 
  In suite followed openSUSE and Debian (?!). Now, GNOME3 is the official desktop environment of Fedora Workstation edition and 
  despite being annoying to navigate, it is considered suitable as a UI for a workstation class operating system. Who would have 
  thought... Luckily, the spirit of GNOME2 lives on as the MATE project.
</p>

<p class="flow-text">
  <b>Next up is Pulseaudio.</b> Now, I don't really want to go on a rant here. The Internet has done its job already. Also, it is not 
  completely useless as it makes switching between sound devices marginally easier. Regardless, its feature set is useful only to a 
  small group of Linux users who deal with audio in a professional setting. To average Joes and Janes who just want to listen to 
  their favorite album Pulseaudio is a nuisance, as it hijacks all sound controls, while still relying on ALSA as the back-end.Why 
  the need for Pulseaudio then? ALSA sufficiently abstracts away the necessity to deal with audio I/O.
</p>

<p class="flow-text">
  <b>Finally, there is systemd.</b> Lots of fuss, tears and turd thrown about. Even to the point that Debian was forked as Devuan 
  (a bittersweet incident). Unsurprisingly, systemd comes from the creator of Pulseaudio. Just like Pulseaudio, it violates one of 
  the core principles of Unix - do one thing and do it well. Also, it doesn't do anything new or revolutionary. We had daemon tools 
  in the past and currently both runit and s6, and they're all way better.
</p>

<p class="flow-text">
  Real gifts can be monetized, returned or given away to others. We have the freedom to get rid of them. Ironically, we don't have 
  that kind of freedom in the open-source community. Or do we? I guess we can always seek alternatives. Or just pick the blue pill. 
  The final choice is ours after all.
</p>
