<figure>
  <img class="responsive-img" src="/static/img/linux_revolution.jpeg">
  <figcaption><em>Have no fear, comrade Tux is here!</em></figcaption>
</figure>

<p class="flow-text">
  January 2016. A huge storm is brewing above the GNU/Linux landscape. Winter is coming and things are beginning to change. For the 
  worse. Thanks to <a href="http://slated.org/the_poetterisation_of_gnu_linux" target="--blank">this article</a> it became very clear 
  to me what Red Hat is all about. For years I have respected Red Hat as a major player in the GNU/Linux ecosystem and a supporter of 
  open-source software. I believed they genuinely cared and wanted to prove the world that the open-source development model IS the 
  model of the future. I guess I was wrong.
</p>

<p class="flow-text">
  Red Hat never cared. That’s quite apparent when looking at some of the developer comments in
  <a href="https://bugzilla.redhat.com/show_bug.cgi?id=534047#c9" --target="blank">this bug report</a>. They simply wanted a platform 
  for their software products. Furthermore, the way they organized the coup on GNU/Linux was quite devious. First, through Fedora 
  they supported the development of modern, streamlined apps. In turn, this generated a lot of hype and enthusiasm for open-source 
  software. Alas, steadily, tried and tested UNIX solutions, became obsolete, because they weren't <em>modern</em> enough. 
  <code>udev</code> and a couple of other projects were created to address the presumed shortcomings of UNIX system design. Next, came 
  <code>systemd</code> and took over the init process, and gradually started absorbing all of the minor system-level tools. You want 
  to boot your system – you need systemd. You want to run X11 – you need udev which is now a part of systemd. You want to mount 
  devices – you need <code>dbus</code>, which was swallowed by systemd as well. In reality you <b>don't</b> actually need systemd for 
  any of that, but systemd became the <em>convenient</em> default, so switching to an alternative requires considerable effort and 
  tech-savviness. At some point in time the GNOME3 project finally bloomed and massacred the positive vibe after GNOME2. It also 
  quickly became reliant on systemd. <em>It is simple and easy to use</em>, as its proponents claim. To me it's more of an insult, 
  because it embodies everything that was wrong with the Metro UI in Windows 8 - oversimplification of UI elements, leading to 
  suboptimal user experience. But honestly, what do I care. I don't really have to use GNOME3.
</p>

<p class="flow-text">
  The overall fuss over Red Hat’s agenda was and still is enormous. However, it boils down to an important dilemma concerning the 
  nature of GNU/Linux. <b>Should it retain its UNIX-like heritage or should it be allowed to drift into a new direction?</b> I'm of 
  the opinion that the design of UNIX is sound and still relevant to this day. It should not be forsaken and/or forgotten in the name 
  of progress. Otherwise, GNU/Linux will become yet another soulless mainstream operating system. A commercial product and not 
  a tradition. Perhaps that's why I'm so disturbed by the recent discussions and development in the open-source community.
</p>

<p class="flow-text">
  Fortunately, there are alternatives! FreeBSD has set itself apart from the mainstream long ago and will not participate in Red Hat’s 
  machinations. Moreover, it follows the original UNIX philosophy. In the Linux-verse there is the OpenRC based version of Manjaro 
  and a relatively new, but greatly promising project – Devuan.
</p>
