<p class="flow-text">
  Linux (the kernel) started as a one-man project, instigated by Linus Torvalds (Linus's UNIX - Linux), because the creator was not 
  satisfied with MS-DOS. Soon after many like-minded people joined Linus's efforts to create a free UNIX-like operating system. 
  Today, the Linux kernel is the most common operating system base, powering servers, workstations and mobile devices around the 
  globe. The point of pride has always been stability, transparency (lacking then in MS-DOS) and code-correctness. After all, Linux, 
  much like its predecessor Minix, was raised on the UNIX philosophy of modular programming and system design.
</p>

<p class="flow-text">
  Then, something happened. A number of Linux developers and distribution maintainers realized that OS X and Windows are popular 
  among regular users, because they’re more approachable and appealing. In contrast, Linux was neither. It required effort and time 
  to understand and served mostly as a computational tool, rather than as an aide for average Joes and Janes to do their taxes with. 
  The many Linux developers looked at each other and thought, <em>Hey, why can't Linux be popular, too? It's great and it totally 
    deserves it!</em> Down the rabbit hole this thought led them and it sure didn't guide them to Wonderland...
</p>

<p class="flow-text">
  Distributions began swapping tried and tested solutions for design atrocities. <em>Modern</em> became the new black. Gnome Network 
  Manager (GUI) on top of <code>wpa_supplicant</code> (which has its own GUI!) on top of <code>dhpcd</code>. Pulseaudio on top of 
  ALSA. GRUB2 with its <em>modern</em> syntax - convoluted to the point that it was easier to just generate the bootloader's 
  configuration file automatically and forget about it (honestly, terrible attitude). Etc. etc. etc. Sadly, user-friendliness is an
  illusion. Linux will never in all eternity be as user-friendly as OS X or Windows without major sacrifices. Flexibility, UI 
  transparency, resource footprint. All of this can be immediately discarded if the ultimate goal is catering to the lowest common 
  denominator.
</p>

<p class="flow-text">
  Not to sound paranoid, but it's getting worse and worse. For the evangelists of user-friendliness it’s not enough to take the Linux 
  kernel and build a user-friendly distribution on top of it. That requires a ton of work, not to mention the maintenance costs. There 
  is a different way, however - changing the very ecosystem little by little. I sincerely hope this will never truly happen, though. 
  The Unix tradition is an important facet of Linux. Should we forget that and taint the ecosystem with OS X/Windows standards, Linux 
  as we know it will cease to exist.
</p>
