<figure>
  <img class="responsive-img" src="/static/img/tuxontuxonlaptop.png">
</figure>

<p class="flow-text">
  Some people say that The Year of the Linux Desktop is drawing closer. Who knows, maybe it's even this year? From my experience it 
  will still take a while. Therefore, I drafted a list of points Linux should fulfill in my opinion before it can even be considered 
  a reasonable choice for mobile devices (laptops, ultrabooks, notebooks, etc.).
</p>

<h5><b>Hardware Support</b></h5>
<p class="flow-text">
  More and more hardware vendors openly support Linux as a platform and offer drivers for it, however:
</p>

<ul class="collection">
  <li class="collection-item">
    The only truly efficient solution for nVidia graphics cards is the closed-source driver, which sadly does not support many 
    Unix features, like mode-setting.
  </li>
  <li class="collection-item">
    AMD and Intel offer open-source drivers for their GPUs, but performance is slightly lacking, especially when comparing 
    open-source AMD drivers to the closed-source drivers.
  </li>
  <li class="collection-item">
    Intel, Atheros, Realtek and some other companies provide open-source drivers for wireless network chips, though their
    coverage is far from complete. Many Realtek drivers are stuck in a permanent beta state and cannot be included in 
    distributions like Fedora, therefore.
  </li>
  <li class="collection-item">
    Features like brightness adjustment, suspend/resume, fingerprint scanners, etc. depend on so many tightly coupled 
    components and interfaces that usually one can just forget about them.
  </li>
</ul>

<p class="flow-text">
  It would really help if mobile device vendors and makers could at least properly document the chips and subsystems they pack into 
  their products. Open-source users are capable enough to figure out the rest themselves.
</p>

<h5><b>Software Standards</b></h5>
<p class="flow-text">
  As it is now, there are way too many Linux distributions, spins, respins, flavors (Ubuntu-of-the-week anyone?), etc. It is 
  extremely challenging for hardware vendors and third-party software developers to target multiple similar, yet distinct platforms. 
  Especially, considering how quickly the Linux ecosystem changes. Imagine you test your hardware on release 2.6 of the Linux kernel, 
  while version 3.x is in the pipeline. By the time the device is released, the drivers for it are already obsolete. Too much variety 
  makes understanding Linux the more confusing. A good idea would be to collaboratively decide on a set of low-level tools common to 
  all distributions so that at least the Linux base system is consistent. Yes, that sadly means systemd is a move in the right 
  direction.
</p>

<h5><b>Emphasizing Uniqueness</b></h5>
<p class="flow-text">
  A 2-minute elevator pitch about Linux. <em>What's so great about Linux as a platform? What's special about Ubuntu or Fedora? Why 
  should anyone bother?</em> It needs to be made clear that Linux <b>can</b> compete against OS X and Windows, not by being a 
  better version of either, but by being unique. After all, Linux really has a lot to offer! Nevertheless, KDE was built on the 
  classic desktop experience pioneered by Windows, while GNOME3 is an OS X Aqua look-alike. It's obvious that end-users appreciate 
  what they already know.
</p>

<p class="flow-text">
  To briefly recapitulate, I think The Year of the Linux Desktop is not so far ahead anymore. In fact, it’s almost here! However, for 
  the world to fully embrace Linux, open-source developers and hardware vendors should collaborate more. Both sides may profit from 
  greater openness and trust.
</p>
