<p class="flow-text">
  As Windows 10 is already out and Microsoft is trying to bewitch herds of Windows devotees through its powerful advertising campaign, 
  I decided to tackle this question as well. I don’t run Windows on any of my PCs, save for my work laptop. It's a matter of taste, 
  but I feel any Windows version beyond Windows 7 was made purely for profit.
</p>

<p class="flow-text">
  To begin with, Windows XP was the hallmark of Windows releases. Windows 98 and Windows 2000 were good, but Windows XP was 
  <em>better</em>. It was stable, visually appealing and offered all of the essential features one might expect from a desktop 
  operating system. Its successor, Windows Vista, was an almost complete flop, though it did introduce concepts important to later 
  Windows releases, like User Account Control (UAC). No wonder users considered Windows 7 a return to the <em>classic</em> Windows 
  experience and another milestone in Microsoft’s history.
</p>

<p class="flow-text">
  However, this sinuisoid of good-bad Windows releases gives the impression that Microsoft has a hard time grasping the expectations 
  of users. It is even more puzzling considering that they managed to get them right twice already (Windows XP and Windows 7). 
  <b>What is that Microsoft is trying to achieve with each subsequent Windows release?</b> Windows 7 was great, yet they just 
  <em>had to</em> obliterate the positive impression left by it with Windows 8 - a complete departure from the traditional desktop OS 
  design, and an utter disaster at the same time. Windows 8.1 wasn't enough to erase the taste of vitriol left in the mouths of users.
  To top it off, the NT architecture isn't all that great - disk fragmentation, sync issues between the Registry and disk content, 
  <em>DLL Hell</em>, etc. Basically, an entire software industry was born to address the shortcomings of Windows. Most of them are 
  nicely summed up <a href="http://itvision.altervista.org/why-windows-10-sucks.html" target="--blank">here</a> and 
  <strike><a href="http://aiju.de/rant/os/windows" target="--blank">here</a></strike> (link dead).
</p>

<p class="flow-text">
  I admit that neither OS X nor Linux is perfect. However, they get better little by little via incremental updates. When you look at 
  the UI changes in OS X over the years, they're minor, but somehow usually in the <em>right</em> direction. New features get added 
  bit by bit, never in bulk as a complete revamp of the OS. Same with Linux and other Unix-like open-source operating systems. Why 
  can't Windows be like this as well? Since Microsoft skipped release 9 and went straight for 10 (because 7 <em>ate</em> 9...?), I'm 
  assuming that's exactly what they're planning - a blank slate to start over, with fresh new ideas.
</p>

<p class="flow-text">Except that it didn't really work...</p>

<p class="flow-text">This is what I saw when I looked and had to interact with Windows 10:</p>

<ul class="collection">
  <li class="collection-item">
    The Start Menu that Microsoft promised to restore was butchered and filled with Windows 8 tiles and adverts (seriously, ads in 
    a premium OS?!).
  </li>
  <li class="collection-item">
    The file manager directory tree is a mixture of mounted drives/partitions, linked network directories, favorites, etc. in a 
    completely random order.
  </li>
  <li class="collection-item">
    Key system options can be changed in the legacy Control Panel or in the new Settings app. No consistency regarding which one to 
    use.
  </li>
  <li class="collection-item">
    The Edge Internet browser is largely unfinished and buggy.
  </li>
  <li class="collection-item">
    The UI looks like a school project in GUI design, using Qt widgets. Except that actual Qt-based UIs look a lot better.
  </li>
  <li class="collection-item">
    There is completely no guarantee that an upgrade from Windows 7/8/8.1 will be successful and Windows 10 has the drivers to 
    support every single hardware component. Remember, Windows 7 is <b>old</b>. It came out in the Intel Core Duo era.
  </li>
  <li class="collection-item">
    Multiple desktop workspaces and other features blatantly stolen from open-source desktop environments, (re-)marketed as novel.
  </li>
</ul>

<p class="flow-text">
  Two words - what gives? The Windows 8 debacle was clear the moment one saw the UI. And somehow none of the above obvious issues 
  could be addressed before the OS was released? Unfortunately, that's just the tip of the proverbial iceberg. I honestly don't see 
  how Windows 10 could possibly save Microsoft. My advice? Switch to Linux or any other open-source OS, and if you have money to burn, 
  get a MacBook and forget about Windows entirely.
</p>
