<figure>
  <img class="responsive-img" src="/static/img/fedora_penguin.png">
</figure>

<p class="flow-text">
  I have spent the last 2 months using FreeBSD - a true Unix ecosystem. However, bit by bit I felt that its system management practices are simply too archaic for me. 
  I also realized that using heavy components (Eclipse, desktop environments, etc.) can bloat even something as lightweight as FreeBSD. Not to mention the many weekend 
  world and kernel rebuilding sessions (I know, I should have been running a regular release, not a development snapshot). Those 2 months made me realize where FreeBSD 
  really shines – on servers and workstations (where X11 is somewhat redundant or a minimal windowing session is sufficient). Sadly, it does not seem I am serious 
  enough for FreeBSD yet. Therefore, I made a 180-degree turn and returned to Fedora Linux. However, with a different attitude altogether.
</p>

<p class="flow-text">
  I am finally beginning to appreciate the many improvements and utilities the Fedora community is working on and actively promoting. Of course, my stance on systemd, 
  GNOME3 and the likes remains unchanged, however since I'm not forced to interact with them directly, I don't mind Fedora shipping them. FreeBSD taught me a different, 
  more focused approach to computing. Hating brings about only negative emotions and nothing more. It is utterly unproductive. Frankly, I DO like some of GNOME3's 
  features, like <code>gnome-sushi</code> which allows the user to briefly visit file content without physically opening the file (be it an image, video, document, 
  etc.). MacOS X has a similar feature and it is extremely useful! I am actually planning on testing Fedora on my laptop as well!
</p>

<p class="flow-text">
  Some of Fedora's features make it an attractive choice as the main OS:
</p>

<ul class="collection">
  <li class="collection-item">
    <b>A clear NO stance on the use of proprietary software.</b> Unless we're talking about nVidia drivers, I'm strongly <em>for</em>.
  </li>
  <li class="collection-item">
    <b>A vibrant community, hosting tons of events.</b> I was considering going to the next FOSDEM if time permits.
  </li>
  <li class="collection-item">
    <b>A strong focus on using Linux in life and at work</b>. I'm very much <em>for</em>!
  </li>
</ul>

<p class="flow-text">
  To sum up, Fedora's goals and policies are noble and honest. I finally understood I cannot blame Fedora for Red Hat’s approach to the Linux ecosystem. Recent outcries 
  of the Fedora community made me realize that. It is clear that no Linux distribution wants to act as a lab rat. Therefore, I will do my best to enjoy Linux and 
  improve my attitude!
</p>
