<p class="flow-text">
    Spending a few days with Fedora Linux 23 Workstation (a custom Xfce installation with basic development tools), I again felt I want to go back to FreeBSD. Fedora is 
    a great Linux distribution, always pushing forward with new open-source technologies. I especially like how it promotes software for everyday tasks like 
    <a href="https://fedoramagazine.org/getting-started-shotwell/" target="--blank">this</a> article about Shotwell - a photo browsing app. It also proves that 
    Linux-based operating systems are completely viable for work and entertainment. The focus on developers is but an additional incentive. However, for my everyday 
    tasks I need a perfectly sane, stable platform, absolutely devoid of bells and whistles and user-friendly configurations. Hence, the return to FreeBSD.
</p>

<p class="flow-text">
    I am very picky about operating systems, but undemanding when it comes to features. I am perfectly fine with only a single browser choice, even though FreeBSD 
    features both Firefox and Chrome/Chromium in its Ports Collection. I don’t use Flash Player altogether and for most of my writing and coding needs I'm content with 
    a simple text editor like Geany, Emacs or Vim. To top it off, an old-school desktop environment, such as Xfce or Mate. All of this is naturally available on FreeBSD, 
    nicely bundled for easy installation into packages or for compilation through the Ports system. Granted, a few things could be less troublesome:
</p>

<ul class="collection">
    <li class="collection-item">
        <b>Support for Linux filesystems, namely ext4 and xfs.</b> There is a <code>fuse</code>-based module for ext4 (read-only access, sadly), though nothing for xfs, 
        other than some monitoring and management tools. Perhaps in the past the Ports Collection featured more packages, but eventually they fell out of favor and got 
        removed.
    </li>
    <li class="collection-item">
        <b>Graphics driver support.</b> I really appreciate that nVidia supports not only Linux, but also FreeBSD. However, AMD is directly involved in open-source 
        driver development. It pains me, therefore, that the <code>radeon</code> driver is quite behind its Linux counterpart. Fortunately, it does support all of my 
        ATI/AMD graphics cards.
    </li>
    <li class="collection-item">
        <b>General recognition.</b> Sometimes I feel extremely alienated when I tell people I’m using an operating system neither them nor 100+ of their Facebook friends 
        ever heard of. Especially, since many of the big software companies like Yahoo, Google and Sony use FreeBSD for mission-critical tasks. I guess the only way to 
        change the situation is to educate and talk about FreeBSD.
    </li>
</ul>

<p class="flow-text">
    Despite all of its shortcomings, FreeBSD is my favorite Unix-like operating system. Actually, it IS Unix and not merely Unix-like. The lack of a proper label is 
    just a licensing issue, left from times long gone. FreeBSD embodies the Unix spirit to the letter, from sane system design decisions, through good software 
    development practices to well-established organization and a mature community. Not to mention how incredibly solid it is! If you are looking for a Windows 
    alternative that is reliable, virtually virus-free and mature, FreeBSD is a great choice! Be warned however, it is NOT for the faint of heart. Although fainter 
    offshoots like PC-BSD, DesktopBSD and GhostBSD are available.
</p>
