<p class="flow-text">
  The question I put forth is quite tricky. Despite the fact that it seems to have a definite answer, it’s a matter of personal 
  taste still.
</p>

<p class="flow-text">
  Firstly, I will describe the situation from the perspective of a Windows user. A brand new PC laptop or desktop will run 
  Windows by default. A year ago that operating system would have been Windows 7, now it is either Windows 8 or Windows 8.1 – 
  both in 64-bit versions. If you want to have a 32-bit version, you have to buy it separately. Occasionally, BestBuy and other 
  vendors offer older, refurbished PCs with Windows 7 32-bit (usually computers with 2 GB RAM), but it is getting harder and 
  harder to find such a bargain. Let us then assume that a typical Windows user has a 64-bit Windows 7 or 8/8.1 as he/she refuses 
  to spend extra on a new operating system or is fully satisfied with the one he/she has. Now, since 64-bit Windows can properly 
  address 4+GB RAM and allocate that much RAM to 64-bit applications, how can we take advantage of that? The answer is – still 
  not so much...
</p>

<p class="flow-text">
  Software offered by Microsoft, Adobe and other companies is available in both 32-bit and 64-bit versions. Hence, one can get 
  Adobe Photoshop, Adobe Illustrator, Internet Explorer, Microsoft Office, etc. as a 64-bit edition. If someone doesn’t like 
  Internet Explorer as the default browser, there is also Opera and Waterfox – both in 64-bit. Blender, a popular 3D graphics 
  rendering application is available in 64-bit, as well. This sounds like a lot, but the majority of software is still 32-bit 
  only. For instance, games. As a vivid gamer I couldn’t really take full advantage of the RAM I had, because my games would 
  never address more than 2 GB RAM. This was a significant bottleneck in the case of Bethesda titles, such as Skyrim and Fallout, 
  which relied heavily on RAM to pre-load content (for instance, mods). In addition, there are constant compatibility issues 
  between 64-bit applications and their 32-bit libraries, for example 64-bit internet browsers and 32-bit extensions. Even 
  Microsoft claims that it is better to use their 32-bit Office suite as it is more solid. In general, at least for a while 
  longer 32-bit will be the prevalent format for Windows. The big question remains though – <b>Should I care?</b>
</p>
<p class="flow-text">
  If you use your computer to browse the Internet, write documents, for basic calculations, etc. my answer is <em>no</em>. 
  Currently, the only advantages of 32-bit Windows versions are:
</p>

<div class="collection">
  <li class="collection-item">
    Running native 32-bit software that for some obscure reason fails to run properly on 64-bit systems
  </li>
  <li class="collection-item">
    Running very old 8-bit or 16-bit software that will most likely not run at all on 64-bit systems, unless emulated. Sounds 
    arcane, but some companies still keep around pre 32-bit software, because it works and it's difficult to port due to the lack 
    of expertise or the fact that it's deeply entrenched in bit hackery (shifts, flipping, etc.).
  </li>
  <li class="collection-item">
    Uses less RAM, though this is an arguable point.
  </li>
  <li class="collection-item">
    Running the OS on pre 64-bit hardware, for instance early Core Duo processors, i586, etc.
  </li>
</div>

<p class="flow-text">
  All of those advantages are use case specific. 8-bit and 16-bit software can be initiated through various emulators 
  (for example, DOSBox) and 32-bit software usually does work properly on 64-bit Windows. Things look a bit differently in the 
  <em>lands of Linux</em>. There, the majority of software packages are available in both 32-bit (i386 or i886) and 64-bit 
  (known as amd64) versions, so that one can technically use a 64-bit only operating system without difficulties. 32-bit systems 
  are more geared towards older, single core PCs which lack PAE necessary to run 64-bit operating systems. Also, contrary to 
  popular belief, 64-bit software doesn’t consume more resources and the boost in performance is enormous. Clearly, the 
  open-source community is ready for <em>the dawn of a new (64-bit) era</em>. What is actually preventing that from happening is 
  commercial software. Drivers, Windows applications ported to Linux, gaming platforms and games themselves are almost entirely 
  in 32-bit format. That is somewhat puzzling, seeing how many pieces of software are already in 64-bit and how resource-hungry 
  games tend to be. This leads me to the conclusion that the conversion from a 32-bit to a 64-bit computing world is a matter of 
  <em>won't</em>, and not <em>can't</em>.
</p>
