<figure>
    <img class="responsive-img" src="/static/img/fedora-opensuse-logos.png">
</figure>

<p class="flow-text">
    For years past Unix-like operating systems (Linux, the BSDs, etc.) were successfully used as workstations and servers. At some point, however, a community of keen 
    observers noticed the potential for growth in new directions. Although GNU (in a general sense) + Linux (kernel) = chaos, it also means that GNU + Linux is an 
    ever-shifting landscape and that it can be anything. Ranging from a tightly-secured supercomputer to a lean and mean hacker’s haven or even a desktop operating 
    system for the masses. In modern times access to computers, big and small, fast and moderately speedy is so prevalent that the niche for an additional operating 
    system is definitely there! Especially, considering Microsoft’s mishaps in recent years. Therefore, I decided to look at how the GNU/Linux ecosystem has changed and 
    perhaps make some predictions for the future.
</p>

<p class="flow-text">
    Ubuntu was, is and probably will be at the top of the Linux food chain for years to come. Canonical (the company behind Ubuntu) knows how to make use of their 
    product and the growing prevalence of Linux on personal computers. It's no surprise that when people think <em>Linux</em>, they really mean <em>Ubuntu</em>. For the 
    majority of everyday computer users Ubuntu defines Linux. Fortunately, the overall image of Linux has improved over the past years. I remember how in high school 
    my peers would consider Linux to be some sort of niche hacker operating system with a pretentiously bizarre name. Nowadays, there is more respect and consideration 
    – partially thanks to Ubuntu.
</p>

<p class="flow-text">
    Apart from Ubuntu, people recognize the names Red Hat and SUSE. They are not as popular as Ubuntu among end users, but they have earned quite some esteem in the 
    enterprise sector. SUSE Linux Enterprise Server (SLES) and Red Hat Enterprise Linux (RHEL) used to be offered as Windows alternatives for the HP/Compaq series of 
    office desktop computers. Both distributions gave birth to successful community projects – Fedora (Core) and openSUSE.
</p>

<p class="flow-text">
    Thanks to the rapid advancements on the global electronics market and the increasing openness of hardware manufacturers, Unix-like operating systems are shaping up 
    to become the future of computing. Financial backing from Red Hat, Canonical, SUSE and many other companies provides jobs for skilled developers and creates a 
    significant presence on the computing market. In addition, Unix makes for a very flexible, stable and secure all-purpose platform. However, what in my opinion 
    matters the most is <b>community</b>. Much more can be achieved when customers are willing to improve their favorite operating system by providing feedback, filing 
    bug reports, helping each other, etc. Finally, I recently took a look at the hardware components of various laptops and notebooks offered at a local retailer and 
    most of them have a low-powered Intel or AMD processor, coupled with an integrated Intel or Radeon GPU. Apparently, the majority of complaints regarding hardware 
    compatibility of Linux is no longer valid. Nowadays, almost any laptop will do.
</p>
