<figure>
  <img class="responsive-img" src="http://footage.framepool.com/shotimg/qf/262431661-first-steps-bad-temper-crying-anger.jpg">
  <figcaption><em>Crying won't make that error pop-up go away...</em></figcaption>
</figure>

<p class="flow-text">
  That is a question I ask myself when tired and frustrated with Linux. I know I have decided to venture into the 
  <em>lands of Linux</em> out of my own volition (partially out of spite for Windows, actually...) and will most likely 
  (leaving that 0.01% for doubt here!) never turn back, but the lingering feeling remains... Most of us <em>Linux citizens</em> 
  had been Windows users in the past, raised on Microsoft's products like the Office suite and DOS. We have fled with discontent, 
  but home sickness is sure to strike us when times are dire. Some of us hate Microsoft with passion, though there are things we 
  honestly miss about <em>Windoze</em>. Just to name a few:
</p>

<div class="collection">
  <li class="collection-item">
    Simple, yet colorful themes with the ability to change the colors of almost anything.
  </li>
  <li class="collection-item">
    Gaming classics like <em>Monkey Island</em>, <em>Arcanum</em>, <em>The Settlers</em> or <em>Age of Empires</em>
  </li>
  <li class="collection-item">
    Clear and intuitive GUIs
  </li>
  <li class="collection-item">
    The <em>blue screen of death (BSOD)</em> - kidding, of course!
  </li>
</div>

<p class="flow-text">
  I am aware that in my case it might just be nostalgia after <em>good ol' Win98 / XP times long gone</em>. Linux already covers 
  all of those features with ease (except gaming, obviously). However, Windows mimicry is commonplace, for instance, in software 
  design or desktop themes. There still seems to be a niche after Windows XP’s official departure. This niche, however, will not 
  remain for much longer! Some time ago a small team of Russian programmers decided to start a project named ReactOS, whose goal 
  is to create a free operating system fully compatible with the older NT 5 architecture (Windows 2000/XP). So far the project is 
  clearly in its alpha stage (version 0.3.17 was recently mentioned on DistroWatch), but the developers claim it is already quite 
  functional. I myself am very much looking forward to its progress and I sincerely hope it succeeds. It would be nice to see a 
  combination of the best of Windows and Linux worlds coming together...
</p>
