<figure>
  <img class="responsive-img" src="http://williambranham.weebly.com/uploads/2/4/4/1/24418764/6258003_orig.jpg">
</figure>

<p class="flow-text">
  I am sure every geek out there has heard / read of Debian, at least as a base for Ubuntu (possibly the most popular Linux 
  distribution). For me Debian had always been the <em>origin</em>, the one from which all other distributions descend. Like an 
  old, majestic tree with many offshoots...
</p>

<p class="flow-text">
  The very first Linux distribution I tried was Bodhi Linux 2.4. It is based on Ubuntu 12.04 LTS, ergo has its roots in Debian. 
  While venturing through the <em>lands of Linux</em> I stumbled upon multiple other distributions based on Debian, such as 
  Trisquel, Crunchbang or Sparky Linux. There are many, many more, actually. Seeing how inevitably I kept drifting towards the 
  more demanding distributions, somehow matching my increasing experience, I decided to take a road to Debian proper. As I read 
  more, I learnt that Debian is less of a tree and more of an orchard in which software packages are grown and cultivated. This 
  orchard has in essence four branches:
</p>

<div class="collection">
  <li class="collection-item">
    <span class="title">Experimental</span>
    <p>
      Here software packages are built and undergo initial tests conducted by developers and package maintainers. So far, I have 
      not encountered any distributions based on the experimental branch of Debian. 
    </p>
  </li>
  <li class="collection-item">
    <span class="title">Unstable (always Sid)</span>
    <p>
      Here software packages are further tested to remove release-critical bugs. However, the packages are stable enough to be 
      admitted for common use. Often, experienced Linux users choose Debian Unstable to gain access to most recent packages. 
      Although a matter of dispute, Sid is thought to follow a rolling-release model due to its dynamic nature. A number of 
      distributions are based on Debian Sid: Semplice Linux, Siduction, Aptosid, the Ubuntu X.10 line, etc.
    </p>
  </li>
  <li class="collection-item">
    <span class="title">Testing (currently Jessie)</span>
    <p>
      Here software packages are polished and rid off of any remaining bugs. Typically Jessie is a bit behind Sid, but only by a 
      margin. A number of distributions are based on Debian Jessie: Sparky Linux, AntiX, Makulu Linux, SolydX/SolydK, the 
      Ubuntu X.04 LTS line, etc.
    </p>
  </li>
  <li class="collection-item">
    <span class="title">Stable (currently 7.0 Wheezy)</span>
    <p>
      Consists of only fully tested and perfectly stable software packages. Alas, due to the lengthy testing process, the 
      packages are rather outdated and suitable mostly for servers, older computers or for low-maintenance distribution. 
      A number of Linux distributions are based on Debian Wheezy: Crunchbang, AntiX MX, Tails, SteamOS, Robolinux, etc. 
    </p>
  </li>
</div>

<p class="flow-text">
  The package development process in Debian is quite intriguing and probably unique to this distribution. After packages are 
  built and tested in the experimental branch, they proceed to the unstable branch for further testing. In turn, Jessie 
  receives packages for which no release-critical bugs have been reported. Stable is a frozen snapshot of the testing branch 
  and receives only security updates. While Sid could be considered a rolling-release distribution, Jessie is a hybrid. When a 
  new stable version is being prepared for release, Testing has to be frozen and in such a state will not receive any new 
  packages from Sid, nor regular package upgrades. After all of the packages in frozen Testing are bug-free and of supreme 
  quality, they are released as Stable, which then inherits a name and Testing receives a new one. Currently, Jessie is the 
  Testing branch. However, Debian developers are working hard on a new Stable release, which will be called Jessie (now it is 
  called Wheezy). After the new Jessie is released, Testing <em>thaws</em> and gains a new identity.
</p>

<p class="flow-text">
  Debian’s developmental model might seem complex and confusing to newcomers, but in essence it greatly resembles a typical 
  production cycle in industries and I'm sure many other Linux distributions follow a similar model. Therefore, it shows a clear 
  focus on quality, rather than quantity.
</p>

<p class="flow-text"> I started my adventure with Debian from a minimal Testing live CD. The initial experience was quite smooth 
  and the installation process concluded without major problems. However, due to my mistake I had to properly configure the 
  repositories’ mirrors list. Unfortunately, some issues arose later on. I could connect to the Internet only via an Ethernet 
  cable, because the WiFi adapter drivers were not installed at all. Surprisingly, sound also did not work. On a positive note 
  though, I installed several desktop environments. All of them had a clean Debian theme and were well configured. Maybe next 
  time I will start from a derivative distribution - one that is potentially less troublesome to set up. 
</p> 

<p class="flow-text">
  Actually, the real beauty of Debian shows in its 
  smooth progression. While theoretically there are several branches of Debian, one can seamlessly move from one to another by 
  upgrading to a more recent one. For instance, I was not 100% satisfied with Debian Testing, because the repositories lacked 
  several packages I always use (like the Midori Web browser). Therefore, I quickly updated my mirrors list and swiftly became a 
  Debian Unstable user. It is actually that simple! Even Debian derivatives can be quickly transformed into fully-fledged Debian 
  without major set-backs! The reason why people don’t do it so often is that they are satisfied with the Debian branch they have 
  chosen and sometimes already installed packages can break when making the transition (as was frequently reported for Libre 
  Office in Crunchbang).
</p>

<p class="flow-text">
  With its utmost flexibility and reliability Debian is definitely something I can suggest to anyone!
</p>
