<figure>
  <img class="responsive-img" src="static/img/thompson_and_richie.jpg">
  <figcaption><em>Kenneth Thompson and Dennis Ritchie, the creators of UNIX</em></figcaption>
</figure>
<p class="flow-text">
  After years and years of relying on Wordpress for my blogging activities, I finally decided to craft a Web page of my own, 
  using one of the many open-source Web frameworks (namely, <a href="https://beego.me/"><code>beego</code></a>). The blog 
  documents my toils and struggles. My musings and ramblings. My journey through the vast and plentiful world of electronics, 
  technology and computing.
</p>

<p class="flow-text">
  So sit back, stand up, lie down or choose any other comfortable position. Most importantly, <em>enjoy</em>!
</p>

<p class="flow-text">
  In a way I'd like to devote my writing to the memory of the above 2 great software engineers and many others who contributed
  to the rapid development of IT and made it possible for me and other young minds to express ourselves via computers. Thank you!
</p>
