<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Meta blocks-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ContentType" content="text/html; charset=utf-8">
    <meta http-equiv="refresh" content="300">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--Compiled and minified CSS-->
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css">

    <!--Add favicon-->
    <link rel="shortcut icon" type="image/png" href="static/favicon.png">

    <!--TODO: template title block in Go code!-->
    <title>{{.Title}}</title>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="nav-extended">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"><i class="material-icons">developer_board</i>Lands of Unix</a>

          <!--Info icons and links-->
          <ul class="right hide-on-med-and-down">
            <!--TODO: Global visitor counter-->
            <li><a><span class="new badge blue" data-badge-caption="visitors">0</span></a></li>
            <li><a href="https://github.com/AndyMender"><i class="material-icons left">public</i>GitHub</a></li>
            <li><a href="https://at.linkedin.com/in/andrzej-bylicki"><i class="material-icons left">people_alt</i>LinkedIn</a></li>
            <li><a href="mailto:andymenderunix@gmail.com"><i class="material-icons left">mail</i>Email Me!</a></li>
          </ul>
        </div>
        <div class="nav-content">
          <!--TODO: fix alignment within navbar-->
          <span class="title">A geek apprentice in quest of computing comprehension...</span>
        </div>
      </nav>
    </div>

    <div class="row">

      <!--Current blog entry text area-->
      <div class="col s8">
        <h2>
          {{.EntryTitle}}
          <span class="new badge z-depth-1" data-badge-caption="likes">0</span>
        </h2>
        <!--TODO: make "like" button responsive-->
        <a class="waves-effect waves-light btn"><i class="material-icons left">add</i>like</a>
        <p><em>{{.DatePosted}}</em></p>

        <!--Content from blog entries-->
        {{.LayoutContent}}
      </div>

      <!--Blog entry links area-->
      <div class="col">
        <h3 class="header">Other Entries</h3>
        <ul class="collection">
          {{range $entryID, $entry := .BlogEntries}}
            <a href="/{{$entryID}}" class="collection-item">{{$entry.Title}}</a>
          {{end}}
        </ul>
      </div>

      <!--TODO: Comments area?-->
    </div>

    <!--Compiled and minified JavaScript-->
    <script type="text/javascript" src="static/js/materialize.min.js"></script>
  </body>
  <footer>
  </footer>
</html>
