<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Meta blocks-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ContentType" content="text/html; charset=utf-8">
    <!--<meta http-equiv="refresh" content="300">-->

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--Compiled and minified CSS-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css">

    <!--Add favicon-->
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">

    <!--TODO: template title block in Go code!-->
    <title>{{.Title}}</title>
  </head>

  <body onload="incrVisitors()">
    <div class="navbar-fixed">
      <nav class="nav-extended">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"><i class="material-icons">developer_board</i>Lands of Unix</a>

          <!--Info icons and links-->
          <ul class="right hide-on-med-and-down">
            <!--TODO: Global visitor counter-->
            <li><a><span class="new badge blue" data-badge-caption="visitors" id="hit-counter"></span></a></li>
            <li><a href="https://github.com/AndyMender"><i class="material-icons left">public</i>GitHub</a></li>
            <li><a href="https://at.linkedin.com/in/andrzej-bylicki"><i class="material-icons left">people_alt</i>LinkedIn</a></li>
            <li><a href="mailto:andymenderunix@gmail.com"><i class="material-icons left">mail</i>Email Me!</a></li>
          </ul>
        </div>
        <div class="nav-content">
          <!--TODO: fix alignment within navbar-->
          <span class="title">A geek apprentice in quest of computing comprehension...</span>
        </div>
      </nav>
    </div>

    <div class="container row">
      <!--Current blog entry text area-->
      <div class="col s9">
        <h2 class="header red-text text-accent-1">
          {{.EntryTitle}}
        </h2>
        {{if .ValidEntry}}
        <!--Next and Back buttons-->
        <a href="/posts/{{.EntryID}}/previous" class="btn waves-effect waves-light" type="submit" name="action">Back
          <i class="material-icons right">fast_rewind</i>
        </a>
        <a href="/posts/{{.EntryID}}/next" class="btn waves-effect waves-light" type="submit" name="action">Next
          <i class="material-icons right">fast_forward</i>
        </a>

        <!--TODO: make "like" button responsive-->
        <a class="waves-effect waves-light btn" id="like-score"></a>
        <a class="waves-effect waves-light btn" onclick="likeEntry()"><i class="material-icons">thumb_up_alt</i></a>
        {{end}}

        <p><em>Posted on {{.DatePosted}}</em></p>

        <!--Content from blog entries-->
        {{.LayoutContent}}

        <!--TODO: Make "Comments" area reactive-->
        {{if .ValidEntry}}
          <form action="/api/comments/{{.EntryID}}" method="post">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input placeholder="Bigus Digus" id="first_name" name="name" type="text" class="validate">
                <label for="first_name">Name</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input placeholder="donkydoodle@pigsty.com" id="email" name="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">comment</i>
                <textarea placeholder="I like this post, because..." id="comment_text" name="comment" class="materialize-textarea"></textarea>
                <label for="comment_text">Comment</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <button class="waves-effect waves-light btn" type="submit">Submit</button>
              </div>
            </div>
          </form>
        {{end}}

        <!--Back and Next buttons-->
        {{if .ValidEntry}}
        <div class="row center-align">
          <a href="/posts/{{.EntryID}}/previous" class="btn waves-effect waves-light" type="submit" name="action">
            Back
            <i class="material-icons right">fast_rewind</i>
          </a>
          <a href="/posts/{{.EntryID}}/next" class="btn waves-effect waves-light" type="submit" name="action">
            Next
            <i class="material-icons right">fast_forward</i>
          </a>
        </div>
        {{end}}
      </div>

      <!--Blog entry links area-->
      <div class="col s3">
        <h1 class="header"></h1>
        <ul class="collapsible">
          {{range $year, $entryRecords := .BlogEntries}}
            <li>
              <div class="collapsible-header red-text text-accent-1">
                <i class="material-icons right big">keyboard_arrow_down</i>
                {{$year}}
              </div>
              <div class="collapsible-body">
                <div class="collection">
                  {{range $_, $entry := $entryRecords}}
                  <a href="/posts/{{$entry.ID}}" class="collection-item">{{$entry.Title}} ({{$entry.ID}})</a>
                  {{end}}
                </div>
              </div>
            </li>
          {{end}}
        </ul>
      </div>
    </div>

    <!--Compiled and minified JavaScript-->
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>

    <!--DOM triggers-->
    <!--Toggle for all "collapsible" elements-->
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var options = {};
        var instances = M.Collapsible.init(elems, options);
      });
    </script>

    <!--POST request handlers for "like" button-->
    <script type="text/javascript">
      function likeEntry() {
        fetch("/api/endorse/{{.EntryID}}", {
          headers: {
            "Accept": "application/json",
            "Content-Type": "application/json"
          },
          method: "POST",
          body: "{}"
        });
      }
    </script>

    <!--GET request handler for "likes" counter-->
    <script type="text/javascript">
      fetch("/api/likes/{{.EntryID}}", {
        headers: {
          "Accept": "application/json",
          "Content-Type": "application/json"
        },
        method: "GET"
      })
      .then(function(response) { return response.json(); })
      .then(function(json) {
        document.getElementById("like-score").innerHTML = json.likes + " likes";
      });
    </script>

    <!--POST request handler for "visitors" counter-->
    <script type="text/javascript">
      function incrVisitors() {
        fetch("/api/visits", {
          headers: {
            "Accept": "application/json",
            "Content-Type": "application/json"
          },
          method: "POST",
          body: "{}"
        });
      }
    </script>

    <!--GET request handler for "visitors" counter-->
    <script type="text/javascript">
      fetch("/api/visits", {
        headers: {
          "Accept": "application/json",
          "Content-Type": "application/json"
        },
        method: "GET"
      })
      .then(function(response) { return response.json(); })
      .then(function(json) {
        document.getElementById("hit-counter").innerHTML = json.visits;
      });
    </script>
  </body>
  <footer>
  </footer>
</html>
